In [ ]:
import numpy as np;import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler,PowerTransformer,MinMaxScaler,OneHotEncoder,LabelEncoder
from sklearn.model_selection import cross_val_predict,GridSearchCV
from sklearn.metrics import * 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier,VotingClassifier
import xgboost as xgb

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
#Load Data
import pandas as pd
train=pd.read_csv('/content/gdrive/MyDrive/Laduma/Train_Laduma.csv',na_values='NULL')
test=pd.read_csv('/content/gdrive/MyDrive/Laduma/Test_Laduma.csv',na_values='NULL')
train_game_statistics=pd.read_csv('/content/gdrive/MyDrive/Laduma/train_game_statistics.csv',na_values='NULL')
test_game_statistics=pd.read_csv('/content/gdrive/MyDrive/Laduma/test_game_statistics.csv',na_values='NULL')
sub_data=pd.read_csv('/content/gdrive/MyDrive/Laduma/SampleSubmission_Laduma.csv',na_values='NULL')
train.shape,test.shape

((412, 7), (234, 6))

In [ ]:
train_game_statistics.duplicated().sum()

3743

In [ ]:
train_game_statistics.drop_duplicates(keep='first',inplace=True)

In [ ]:
train_game_statistics.drop(['next_player', 'next_x', 'next_y', 'event_id', 'next_team','next_event_id', 'xt_value'], axis=1, inplace=True)

In [ ]:
train_game_statistics.drop(['next_action'], axis=1, inplace=True)

In [ ]:
temp_data=list(zip(train.Game_ID,train['Home Team']))
temp_data

[('ID_KAG4KAE9', 'Antennae'),
 ('ID_T7H1XN5Z', 'Andromeda'),
 ('ID_O1P9FGN4', 'Andromeda'),
 ('ID_TR5M4KQV', 'Andromeda'),
 ('ID_EOIECRE2', 'Andromeda'),
 ('ID_8CRFDQZA', 'Andromeda'),
 ('ID_CV7BOXYD', 'Andromeda'),
 ('ID_X5UEAAIY', 'Andromeda'),
 ('ID_Z8TGBH41', 'Andromeda'),
 ('ID_4CYGD80A', 'Andromeda'),
 ('ID_XQMJ05QY', 'Andromeda'),
 ('ID_OW9Z59TM', 'Andromeda'),
 ('ID_QEHB6SP5', 'Butterfly'),
 ('ID_UL9DKAH4', 'Cartwheel'),
 ('ID_UFDKE17M', 'Sculptor'),
 ('ID_GU6BX7OY', 'Cigar'),
 ('ID_S6RUK5NW', 'Comet'),
 ('ID_VUN0XPN1', 'Cosmos Redshift 7'),
 ('ID_XCHM541T', 'Eye of Sauron'),
 ('ID_9QKWORXG', 'Medusa Merger'),
 ('ID_TLXXQLYC', 'Milky Way'),
 ('ID_HPYKEW7R', 'Antennae'),
 ('ID_IZLDEI78', 'Andromeda'),
 ('ID_UC7PMJ25', 'Andromeda'),
 ('ID_5HWA04IU', 'Andromeda'),
 ('ID_20BPYE4G', 'Andromeda'),
 ('ID_CHH8Y1BD', 'Andromeda'),
 ('ID_T1Q3B3GG', 'Andromeda'),
 ('ID_DEBRT4C8', 'Andromeda'),
 ('ID_9DPBXX3W', 'Andromeda'),
 ('ID_DF19AH9G', 'Andromeda'),
 ('ID_K81P666R', 'Andromeda'),
 ('ID_UATYFRPS', 'Cigar'),
 ('ID_XDMKT9HU', 'Cartwheel'),
 ('ID_AO17ZS96', 'Sunflower'),
 ('ID_OJUD1I32', 'Comet'),
 ('ID_IDEQCVEC', 'Tadpole'),
 ('ID_04T9W310', 'Andromeda'),
 ('ID_YO3TBJ4R', 'Fireworks'),
 ('ID_HHF8W6GO', 'Medusa Merger'),
 ('ID_XEI81LPI', 'Milky Way'),
 ('ID_CGX3THAU', 'Antennae'),
 ('ID_P9QCOLI6', 'Antennae'),
 ('ID_OLMRL7BS', 'Antennae'),
 ('ID_0O3OGCB9', 'Antennae'),
 ('ID_GOIGEZE8', 'Antennae'),
 ('ID_R6SFPFV4', 'Antennae'),
 ('ID_YVMAC2WR', 'Antennae'),
 ('ID_WX5LMCE5', 'Antennae'),
 ('ID_KFK1U0BS', 'Backward'),
 ('ID_DKEDN070', 'Butterfly'),
 ('ID_4VQVJS1O', 'Cartwheel'),
 ('ID_J5WBKEM3', 'Sculptor'),
 ('ID_7QNNI0YQ', 'Cigar'),
 ('ID_C1EA08ZR', 'Circinus'),
 ('ID_66IWBNXT', 'Coma Pinwheel'),
 ('ID_5K4BCEUJ', 'Comet'),
 ('ID_KDY6XYY0', 'Cosmos Redshift 7'),
 ('ID_LTKK72S4', 'Medusa Merger'),
 ('ID_1IQNQPAW', 'Antennae'),
 ('ID_1FEH4NFI', 'Sunflower'),
 ('ID_CGFDXN9S', 'Medusa Merger'),
 ('ID_OC87DVM9', 'Milky Way'),
 ('ID_Z71PIKP3', 'Antennae'),
 ('ID_CEB18NBQ', 'Antennae'),
 ('ID_ANK9DPJS', 'Antennae'),
 ('ID_HQC5KGL5', 'Antennae'),
 ('ID_27YV4RRO', 'Sombrero'),
 ('ID_KXGJ4N09', 'Eye of Sauron'),
 ('ID_GKU067BE', 'Milky Way'),
 ('ID_VLSQNHJS', 'Antennae'),
 ('ID_P0JSAPAH', 'Backward'),
 ('ID_R3I7GSLU', 'Cigar'),
 ('ID_BOI7CXJV', 'Comet'),
 ('ID_6IIQ4TZD', 'Antennae'),
 ('ID_XNS4KRCK', 'Antennae'),
 ('ID_4WLLNCYX', 'Antennae'),
 ('ID_JP06JI0C', 'Antennae'),
 ('ID_QIXKBR86', 'Antennae'),
 ('ID_OWJBAFBQ', 'Antennae'),
 ('ID_UKIMWWUK', 'Antennae'),
 ('ID_24FZH22W', 'Antennae'),
 ('ID_96T3LR7R', 'Antennae'),
 ('ID_HYJCUA56', 'Antennae'),
 ('ID_68FWDT6H', 'Sculptor'),
 ('ID_WVFRCW5F', 'Circinus'),
 ('ID_II7DWVQR', 'Cartwheel'),
 ('ID_FWJMLGFB', 'Coma Pinwheel'),
 ('ID_72XLLS9T', 'Fireworks'),
 ('ID_DKYRY1VS', 'Triangulum'),
 ('ID_M840FM1K', 'Tadpole'),
 ('ID_OM37A8LR', 'Cigar'),
 ('ID_QWUGRXJI', 'Circinus'),
 ('ID_JW43FR1J', 'Coma Pinwheel'),
 ('ID_LCUC9FYE', 'Comet'),
 ('ID_ENJWVMFU', 'Medusa Merger'),
 ('ID_5KHVZBQE', 'Milky Way'),
 ('ID_8MCII6F1', 'Tadpole'),
 ('ID_L3GUMYJ4', 'Triangulum'),
 ('ID_06QXUEYD', 'Triangulum'),
 ('ID_A55NG93L', 'Triangulum'),
 ('ID_9XCMP096', 'Triangulum'),
 ('ID_R618L63O', 'Triangulum'),
 ('ID_XJ2WUU6R', 'Triangulum'),
 ('ID_Z8YAZGAP', 'Triangulum'),
 ('ID_KST7PRMU', 'Backward'),
 ('ID_2QSZ4K64', 'Backward'),
 ('ID_8DEUQQUO', 'Backward'),
 ('ID_MWRHCSMW', 'Backward'),
 ('ID_NXCBXYUJ', 'Backward'),
 ('ID_AT1RY70Q', 'Backward'),
 ('ID_PSLB87BL', 'Backward'),
 ('ID_00J124MI', 'Backward'),
 ('ID_K7L28JTT', 'Cartwheel'),
 ('ID_UXJDXX9L', 'Circinus'),
 ('ID_Q3TLZ0NB', 'Sombrero'),
 ('ID_ZE3J281E', 'Eye of Sauron'),
 ('ID_XWV89SWE', 'Fireworks'),
 ('ID_CT02DQO5', 'Medusa Merger'),
 ('ID_ICUXU3S2', 'Milky Way'),
 ('ID_T12UUJG7', 'Backward'),
 ('ID_KYEZ4Q5U', 'Butterfly'),
 ('ID_VU4MWMEQ', 'Cosmos Redshift 7'),
 ('ID_ZZKYYPVY', 'Backward'),
 ('ID_QNZG9PEU', 'Backward'),
 ('ID_HZKCT0PI', 'Backward'),
 ('ID_ZWJJP6T6', 'Backward'),
 ('ID_K3VPZMW2', 'Backward'),
 ('ID_D2JPKHY3', 'Backward'),
 ('ID_AJQ6AXK8', 'Backward'),
 ('ID_Y1N9XWDE', 'Backward'),
 ('ID_DVUF7IYI', 'Backward'),
 ('ID_T31AU81S', 'Cigar'),
 ('ID_DTTQRNE4', 'Circinus'),
 ('ID_RAT7AK8R', 'Cartwheel'),
 ('ID_YO6NFBHZ', 'Sunflower'),
 ('ID_58IZEI5C', 'Coma Pinwheel'),
 ('ID_MI4W134C', 'Comet'),
 ('ID_8JROBJ91', 'Fireworks'),
 ('ID_EWEN4C0N', 'Medusa Merger'),
 ('ID_8O8VRN8A', 'Milky Way'),
 ('ID_1ZPA9XMX', 'Backward'),
 ('ID_HV2F2U3U', 'Sculptor'),
 ('ID_UGM73VHI', 'Cigar'),
 ('ID_0OR30CC4', 'Coma Pinwheel'),
 ('ID_ZYI3C0HF', 'Coma Pinwheel'),
 ('ID_AQD3YVMC', 'Coma Pinwheel'),
 ('ID_Z669YURL', 'Coma Pinwheel'),
 ('ID_KLXJD2ZC', 'Coma Pinwheel'),
 ('ID_JN1VLXHD', 'Cosmos Redshift 7'),
 ('ID_G4CN5BNX', 'Fireworks'),
 ('ID_KKRFBDM9', 'Backward'),
 ('ID_R6C3GV9H', 'Backward'),
 ('ID_G78FOQYQ', 'Backward'),
 ('ID_5Y6WIRCG', 'Cigar'),
 ('ID_ZE7D4JAP', 'Coma Pinwheel'),
 ('ID_HB9WSKP9', 'Comet'),
 ('ID_J15AKP1H', 'Butterfly'),
 ('ID_QEMTT0ST', 'Butterfly'),
 ('ID_F19EBYGB', 'Sculptor'),
 ('ID_LL4GFXCN', 'Coma Pinwheel'),
 ('ID_E7000EMK', 'Comet'),
 ('ID_ZP3MIG6N', 'Cosmos Redshift 7'),
 ('ID_ZWPPN4W1', 'Eye of Sauron'),
 ('ID_12945FWD', 'Fireworks'),
 ('ID_VAG7G5IC', 'Medusa Merger'),
 ('ID_GP3WNMQH', 'Fireworks'),
 ('ID_XMM4Z5EZ', 'Tadpole'),
 ('ID_UMASWHEF', 'Butterfly'),
 ('ID_DXFDO3HX', 'Butterfly'),
 ('ID_ZWD4FQ05', 'Butterfly'),
 ('ID_WPAZXG4Y', 'Butterfly'),
 ('ID_2FUAPJ5S', 'Butterfly'),
 ('ID_RROBJ38Y', 'Butterfly'),
 ('ID_9KVVOCR6', 'Butterfly'),
 ('ID_00EFNL7L', 'Butterfly'),
 ('ID_0TIEZ7MG', 'Sombrero'),
 ('ID_826SG25P', 'Milky Way'),
 ('ID_3LDF38RP', 'Butterfly'),
 ('ID_G2O8B9R9', 'Cartwheel'),
 ('ID_QVW81QWH', 'Cigar'),
 ('ID_U3SD7K1V', 'Cosmos Redshift 7'),
 ('ID_KSFJ2RGK', 'Sculptor'),
 ('ID_9JEI8DWV', 'Cartwheel'),
 ('ID_34HDKVFW', 'Coma Pinwheel'),
 ('ID_XOSYZEG8', 'Cosmos Redshift 7'),
 ('ID_8W85GO7G', 'Cosmos Redshift 7'),
 ('ID_IS5PC7WP', 'Cosmos Redshift 7'),
 ('ID_WJ12QQ71', 'Cosmos Redshift 7'),
 ('ID_7XQJ4ZA4', 'Medusa Merger'),
 ('ID_5H9QBQMQ', 'Sculptor'),
 ('ID_45M9BNQO', 'Circinus'),
 ('ID_5X8VFC64', 'Cartwheel'),
 ('ID_A1ARNO3H', 'Sunflower'),
 ('ID_NFRZQ99K', 'Sunflower'),
 ('ID_5KQZOTHQ', 'Sunflower'),
 ('ID_YGN8TPQ5', 'Sunflower'),
 ('ID_8ITGS2P3', 'Sunflower'),
 ('ID_XWI57Q9K', 'Sunflower'),
 ('ID_DKNFRR94', 'Sunflower'),
 ('ID_9NX3Y6RK', 'Sunflower'),
 ('ID_ODJJ0THO', 'Sunflower'),
 ('ID_RNR88WYL', 'Sunflower'),
 ('ID_9AKIA9XC', 'Sunflower'),
 ('ID_SREWU5C6', 'Comet'),
 ('ID_CFNRNH31', 'Cosmos Redshift 7'),
 ('ID_ILDWDPY2', 'Fireworks'),
 ('ID_F60AZ116', 'Medusa Merger'),
 ('ID_3WQ0X2RV', 'Milky Way'),
 ('ID_7MS32IW5', 'Tadpole'),
 ('ID_0A2WEVY3', 'Comet'),
 ('ID_O7S3MLNP', 'Cigar'),
 ('ID_DBF91Z88', 'Circinus'),
 ('ID_65XZO9R3', 'Cosmos Redshift 7'),
 ('ID_APRR2449', 'Cosmos Redshift 7'),
 ('ID_22R4A4OV', 'Cosmos Redshift 7'),
 ('ID_T7W4WKY9', 'Cosmos Redshift 7'),
 ('ID_LEL3JT8E', 'Cosmos Redshift 7'),
 ('ID_3NW5KUQ3', 'Fireworks'),
 ('ID_0PBGEMAI', 'Milky Way'),
 ('ID_38GWYHWI', 'Triangulum'),
 ('ID_BJHEDY9T', 'Cigar'),
 ('ID_3CWKIG2G', 'Circinus'),
 ('ID_OQM43U7K', 'Cartwheel'),
 ('ID_O4H6XGB4', 'Comet'),
 ('ID_1D1X4PFB', 'Fireworks'),
 ('ID_UL4NP2IJ', 'Fireworks'),
 ('ID_HCCBAPTP', 'Fireworks'),
 ('ID_WGM9ZTJ3', 'Fireworks'),
 ('ID_KC53ZIHC', 'Fireworks'),
 ('ID_NER74N7H', 'Fireworks'),
 ('ID_4LTRF5VB', 'Fireworks'),
 ('ID_W25SLQ7X', 'Fireworks'),
 ('ID_KLAHLZBN', 'Medusa Merger'),
 ('ID_IZ8B4OAH', 'Milky Way'),
 ('ID_21SVBXLQ', 'Tadpole'),
 ('ID_WOXKZITI', 'Sculptor'),
 ('ID_THU0JYSJ', 'Cigar'),
 ('ID_36NZ9IU5', 'Medusa Merger'),
 ('ID_NEG8CDCD', 'Medusa Merger'),
 ('ID_ROVPAHRR', 'Medusa Merger'),
 ('ID_1B6FP9H5', 'Tadpole'),
 ('ID_ZOW0PTN6', 'Cartwheel'),
 ('ID_O30PXNS2', 'Cartwheel'),
 ('ID_35M6T9JZ', 'Cartwheel'),
 ('ID_WZASJ4IV', 'Cartwheel'),
 ('ID_KYVAXN0B', 'Cartwheel'),
 ('ID_5XNJBBBU', 'Cartwheel'),
 ('ID_V891OYVP', 'Sculptor'),
 ('ID_7DRHHPZK', 'Coma Pinwheel'),
 ('ID_JMKNLEUZ', 'Cosmos Redshift 7'),
 ('ID_H27PCYW4', 'Medusa Merger'),
 ('ID_QMJBCJTO', 'Milky Way'),
 ('ID_42WQ2WIV', 'Cartwheel'),
 ('ID_NO60D4TO', 'Circinus'),
 ('ID_BJ2VX0EX', 'Cartwheel'),
 ('ID_2QNA7OQE', 'Cartwheel'),
 ('ID_CW6K7CPC', 'Cartwheel'),
 ('ID_9V68FI7L', 'Cartwheel'),
 ('ID_40BVMU42', 'Cartwheel'),
 ('ID_T4Q5NGSF', 'Cartwheel'),
 ('ID_M7QACJDH', 'Cartwheel'),
 ('ID_J9I1S6T7', 'Cartwheel'),
 ('ID_I14RAYEM', 'Comet'),
 ('ID_R803GAI9', 'Milky Way'),
 ('ID_I7AY16R0', 'Tadpole'),
 ('ID_QIS7V5IV', 'Sombrero'),
 ('ID_CNPU22AH', 'Coma Pinwheel'),
 ('ID_7HNMFC11', 'Coma Pinwheel'),
 ('ID_JGPD54X5', 'Fireworks'),
 ('ID_EIIQ4HJL', 'Fireworks'),
 ('ID_6KO0SC5W', 'Fireworks'),
 ('ID_PDW4BNW1', 'Fireworks'),
 ('ID_OC055HAA', 'Fireworks'),
 ('ID_C28GUZGL', 'Coma Pinwheel'),
 ('ID_OE2XOG04', 'Coma Pinwheel'),
 ('ID_QZLKZJ16', 'Comet'),
 ('ID_1ED799VW', 'Tadpole'),
 ('ID_KAHZNQZ4', 'Cartwheel'),
 ('ID_46UP27C8', 'Cigar'),
 ('ID_7YEZ3VK0', 'Circinus'),
 ('ID_9NG7M7IH', 'Comet'),
 ('ID_1KKTGS75', 'Eye of Sauron'),
 ('ID_T64ZJ5ZU', 'Cartwheel'),
 ('ID_Q5C5K59A', 'Comet'),
 ('ID_Y86ZTX6M', 'Medusa Merger'),
 ('ID_SXSLZSI1', 'Medusa Merger'),
 ('ID_JYOCIVGT', 'Medusa Merger'),
 ('ID_A2FD42KH', 'Medusa Merger'),
 ('ID_XJWVEY79', 'Milky Way'),
 ('ID_QAJGGM73', 'Sculptor'),
 ('ID_39S61786', 'Cigar'),
 ('ID_UCWLCAW5', 'Cigar'),
 ('ID_LXRTEQO2', 'Cigar'),
 ('ID_DPPFAJ6O', 'Cigar'),
 ('ID_7HRBFGSB', 'Cigar'),
 ('ID_F1CNSJBO', 'Cigar'),
 ('ID_VVG172LB', 'Cigar'),
 ('ID_D4WOYK9B', 'Cigar'),
 ('ID_SSBUAMO7', 'Cigar'),
 ('ID_L76JBE84', 'Sombrero'),
 ('ID_WASR8LFE', 'Cosmos Redshift 7'),
 ('ID_MWHDDOC0', 'Eye of Sauron'),
 ('ID_ZLWVE54E', 'Fireworks'),
 ('ID_PMX7KBOK', 'Medusa Merger'),
 ('ID_ZL8511XW', 'Milky Way'),
 ('ID_NQK2S2JO', 'Sculptor'),
 ('ID_UXUK6H9F', 'Cigar'),
 ('ID_K830M6NE', 'Cigar'),
 ('ID_DC2OE4J0', 'Circinus'),
 ('ID_1TGCIK70', 'Comet'),
 ('ID_G87HE5T9', 'Cigar'),
 ('ID_OT3MQDZC', 'Coma Pinwheel'),
 ('ID_DL7257PH', 'Comet'),
 ('ID_N6FOPL2Y', 'Circinus'),
 ('ID_4X3QDC8P', 'Cigar'),
 ('ID_MUYK98UO', 'Cigar'),
 ('ID_IUV7FU2U', 'Tadpole'),
 ('ID_PGGWBZ29', 'Triangulum'),
 ('ID_STX8TIE2', 'Sculptor'),
 ('ID_GUGKLLI9', 'Milky Way'),
 ('ID_S2DH4W65', 'Circinus'),
 ('ID_XIRRA7RV', 'Circinus'),
 ('ID_TN3U4DC4', 'Circinus'),
 ('ID_IDJ1L6GL', 'Circinus'),
 ('ID_628MNEH9', 'Circinus'),
 ('ID_EKI17JGO', 'Circinus'),
 ('ID_2947LQTO', 'Coma Pinwheel'),
 ('ID_R9WWGZ6K', 'Medusa Merger'),
 ('ID_0SXG1LVI', 'Milky Way'),
 ('ID_HT3DTAG1', 'Circinus'),
 ('ID_21BTFEL5', 'Sombrero'),
 ('ID_Q05IUX5U', 'Comet'),
 ('ID_W3F61OZ8', 'Cosmos Redshift 7'),
 ('ID_EWTPLPQM', 'Sculptor'),
 ('ID_ZJ5I8APD', 'Circinus'),
 ('ID_FH7XN5HK', 'Circinus'),
 ('ID_4PB4VL5Q', 'Circinus'),
 ('ID_T9ASGHM0', 'Comet'),
 ('ID_YXXCNK2G', 'Milky Way'),
 ('ID_UHMPXW5E', 'Tadpole'),
 ('ID_6K7LRVTC', 'Sombrero'),
 ('ID_AO08Y8FZ', 'Coma Pinwheel'),
 ('ID_OIZQHOLE', 'Coma Pinwheel'),
 ('ID_58Y3YYGP', 'Coma Pinwheel'),
 ('ID_WX90Q0Q3', 'Coma Pinwheel'),
 ('ID_7KQ7M6CR', 'Comet'),
 ('ID_RJZDWDAU', 'Cosmos Redshift 7'),
 ('ID_0OPXV0TY', 'Eye of Sauron'),
 ('ID_897S67BZ', 'Fireworks'),
 ('ID_ZF8TL0GP', 'Coma Pinwheel'),
 ('ID_H0Q7JNV1', 'Coma Pinwheel'),
 ('ID_ULFMIS9R', 'Medusa Merger'),
 ('ID_7GHLYGYV', 'Sculptor'),
 ('ID_VACHXR44', 'Milky Way'),
 ('ID_UY24QO9Y', 'Milky Way'),
 ('ID_42DWN5QA', 'Tadpole'),
 ('ID_33AOLMD8', 'Sombrero'),
 ('ID_EK4VZ52Q', 'Comet'),
 ('ID_BBYSJZ7Z', 'Comet'),
 ('ID_CAO3DHF3', 'Comet'),
 ('ID_WQ6K1M6J', 'Comet'),
 ('ID_JL0A7NYU', 'Eye of Sauron'),
 ('ID_F04XYXNO', 'Fireworks'),
 ('ID_WH4S1N9Q', 'Milky Way'),
 ('ID_G5EFF75Z', 'Comet'),
 ('ID_ENOCMDPI', 'Comet'),
 ('ID_UWJ3YGHF', 'Comet'),
 ('ID_8JTQDHX3', 'Comet'),
 ('ID_2V7QGMM2', 'Cosmos Redshift 7'),
 ('ID_IXRGB6OV', 'Medusa Merger'),
 ('ID_T5467PO8', 'Comet'),
 ('ID_MWCIADS6', 'Medusa Merger'),
 ('ID_9V6TAYFV', 'Milky Way'),
 ('ID_40OQTBJ8', 'Sculptor'),
 ('ID_Q4V1C0YI', 'Sombrero'),
 ('ID_JFK7XPYK', 'Sombrero'),
 ('ID_WDA74NYV', 'Sombrero'),
 ('ID_FHG03TE0', 'Cosmos Redshift 7'),
 ('ID_B8MME8GP', 'Eye of Sauron'),
 ('ID_S7T4YYCU', 'Fireworks'),
 ('ID_1LEM1AAP', 'Sculptor'),
 ('ID_0M5K2L1J', 'Eye of Sauron'),
 ('ID_WT3PHABY', 'Medusa Merger'),
 ('ID_24HKPKQH', 'Milky Way'),
 ('ID_QRQCZ4Z4', 'Milky Way'),
 ('ID_YYCO8ZBA', 'Milky Way'),
 ('ID_QGNRR2WQ', 'Milky Way'),
 ('ID_PBG2XS57', 'Milky Way'),
 ('ID_J1010ZTT', 'Cosmos Redshift 7'),
 ('ID_2E3951AN', 'Cosmos Redshift 7'),
 ('ID_XW18HGR9', 'Eye of Sauron'),
 ('ID_OZKQYKQF', 'Medusa Merger'),
 ('ID_D801VVTI', 'Cosmos Redshift 7'),
 ('ID_Y1FWWSBP', 'Sculptor'),
 ('ID_LRWZVXJZ', 'Fireworks'),
 ('ID_GPZBRVUQ', 'Eye of Sauron'),
 ('ID_U2DPW95R', 'Medusa Merger'),
 ('ID_2KH2XHCH', 'Medusa Merger'),
 ('ID_PYUUJ5M3', 'Sombrero'),
 ('ID_SQB73VYU', 'Cosmos Redshift 7'),
 ('ID_HPTFSC3K', 'Sombrero'),
 ('ID_XMQ5NR2G', 'Sculptor'),
 ('ID_LEBJ75LN', 'Eye of Sauron'),
 ('ID_QZMTM1LI', 'Eye of Sauron'),
 ('ID_0DQCXCXH', 'Tadpole'),
 ('ID_T62C8AP0', 'Sculptor'),
 ('ID_PREVA6HZ', 'Sculptor'),
 ('ID_9DJ219JY', 'Medusa Merger'),
 ('ID_A1PN23J6', 'Medusa Merger'),
 ('ID_XFQO60PZ', 'Milky Way'),
 ('ID_VTVBHCO7', 'Sculptor')]

In [ ]:
home_data=[];
for x,y in temp_data:
    b=train_game_statistics[(train_game_statistics.Game_ID==x) & (train_game_statistics.Team==y)].values
    home_data.append(b)
home_data[0]

array([['ID_KAG4KAE9', 'Player_0BOHJ6V2', 6.0, ..., 1.0, 0.28, 0.62],
       ['ID_KAG4KAE9', 'Player_0BOHJ6V2', 7.0, ..., 0.0, 0.28, 0.62],
       ['ID_KAG4KAE9', 'Player_0BOHJ6V2', 8.0, ..., 0.0, 0.28, 0.62],
       ...,
       ['ID_KAG4KAE9', 'Player_3IA2L056', 3722.0, ..., 0.0, 94.05, 94.38],
       ['ID_KAG4KAE9', 'Player_0A2NADNO', 3726.0, ..., 0.0, 94.1, 94.43],
       ['ID_KAG4KAE9', 'Player_0A2NADNO', 3727.0, ..., 0.0, 94.1, 94.43]],
      dtype=object)

In [ ]:
# Away Team
temp_data=list(zip(train.Game_ID,train['Away Team']))
temp_data

[('ID_KAG4KAE9', 'Andromeda'),
 ('ID_T7H1XN5Z', 'Antennae'),
 ('ID_O1P9FGN4', 'Butterfly'),
 ('ID_TR5M4KQV', 'Cigar'),
 ('ID_EOIECRE2', 'Circinus'),
 ('ID_8CRFDQZA', 'Cartwheel'),
 ('ID_CV7BOXYD', 'Coma Pinwheel'),
 ('ID_X5UEAAIY', 'Comet'),
 ('ID_Z8TGBH41', 'Cosmos Redshift 7'),
 ('ID_4CYGD80A', 'Fireworks'),
 ('ID_XQMJ05QY', 'Medusa Merger'),
 ('ID_OW9Z59TM', 'Milky Way'),
 ('ID_QEHB6SP5', 'Andromeda'),
 ('ID_UL9DKAH4', 'Andromeda'),
 ('ID_UFDKE17M', 'Andromeda'),
 ('ID_GU6BX7OY', 'Andromeda'),
 ('ID_S6RUK5NW', 'Andromeda'),
 ('ID_VUN0XPN1', 'Andromeda'),
 ('ID_XCHM541T', 'Andromeda'),
 ('ID_9QKWORXG', 'Andromeda'),
 ('ID_TLXXQLYC', 'Andromeda'),
 ('ID_HPYKEW7R', 'Andromeda'),
 ('ID_IZLDEI78', 'Antennae'),
 ('ID_UC7PMJ25', 'Backward'),
 ('ID_5HWA04IU', 'Sculptor'),
 ('ID_20BPYE4G', 'Cartwheel'),
 ('ID_CHH8Y1BD', 'Sunflower'),
 ('ID_T1Q3B3GG', 'Comet'),
 ('ID_DEBRT4C8', 'Cosmos Redshift 7'),
 ('ID_9DPBXX3W', 'Medusa Merger'),
 ('ID_DF19AH9G', 'Milky Way'),
 ('ID_K81P666R', 'Triangulum'),
 ('ID_UATYFRPS', 'Andromeda'),
 ('ID_XDMKT9HU', 'Andromeda'),
 ('ID_AO17ZS96', 'Andromeda'),
 ('ID_OJUD1I32', 'Andromeda'),
 ('ID_IDEQCVEC', 'Andromeda'),
 ('ID_04T9W310', 'Cigar'),
 ('ID_YO3TBJ4R', 'Andromeda'),
 ('ID_HHF8W6GO', 'Andromeda'),
 ('ID_XEI81LPI', 'Andromeda'),
 ('ID_CGX3THAU', 'Backward'),
 ('ID_P9QCOLI6', 'Circinus'),
 ('ID_OLMRL7BS', 'Coma Pinwheel'),
 ('ID_0O3OGCB9', 'Comet'),
 ('ID_GOIGEZE8', 'Eye of Sauron'),
 ('ID_R6SFPFV4', 'Fireworks'),
 ('ID_YVMAC2WR', 'Medusa Merger'),
 ('ID_WX5LMCE5', 'Milky Way'),
 ('ID_KFK1U0BS', 'Antennae'),
 ('ID_DKEDN070', 'Antennae'),
 ('ID_4VQVJS1O', 'Antennae'),
 ('ID_J5WBKEM3', 'Antennae'),
 ('ID_7QNNI0YQ', 'Antennae'),
 ('ID_C1EA08ZR', 'Antennae'),
 ('ID_66IWBNXT', 'Antennae'),
 ('ID_5K4BCEUJ', 'Antennae'),
 ('ID_KDY6XYY0', 'Antennae'),
 ('ID_LTKK72S4', 'Antennae'),
 ('ID_1IQNQPAW', 'Coma Pinwheel'),
 ('ID_1FEH4NFI', 'Antennae'),
 ('ID_CGFDXN9S', 'Antennae'),
 ('ID_OC87DVM9', 'Antennae'),
 ('ID_Z71PIKP3', 'Butterfly'),
 ('ID_CEB18NBQ', 'Cartwheel'),
 ('ID_ANK9DPJS', 'Cigar'),
 ('ID_HQC5KGL5', 'Cosmos Redshift 7'),
 ('ID_27YV4RRO', 'Antennae'),
 ('ID_KXGJ4N09', 'Antennae'),
 ('ID_GKU067BE', 'Antennae'),
 ('ID_VLSQNHJS', 'Fireworks'),
 ('ID_P0JSAPAH', 'Antennae'),
 ('ID_R3I7GSLU', 'Antennae'),
 ('ID_BOI7CXJV', 'Antennae'),
 ('ID_6IIQ4TZD', 'Backward'),
 ('ID_XNS4KRCK', 'Sculptor'),
 ('ID_4WLLNCYX', 'Cigar'),
 ('ID_JP06JI0C', 'Circinus'),
 ('ID_QIXKBR86', 'Cartwheel'),
 ('ID_OWJBAFBQ', 'Sunflower'),
 ('ID_UKIMWWUK', 'Medusa Merger'),
 ('ID_24FZH22W', 'Milky Way'),
 ('ID_96T3LR7R', 'Tadpole'),
 ('ID_HYJCUA56', 'Triangulum'),
 ('ID_68FWDT6H', 'Antennae'),
 ('ID_WVFRCW5F', 'Antennae'),
 ('ID_II7DWVQR', 'Antennae'),
 ('ID_FWJMLGFB', 'Antennae'),
 ('ID_72XLLS9T', 'Antennae'),
 ('ID_DKYRY1VS', 'Antennae'),
 ('ID_M840FM1K', 'Antennae'),
 ('ID_OM37A8LR', 'Triangulum'),
 ('ID_QWUGRXJI', 'Triangulum'),
 ('ID_JW43FR1J', 'Triangulum'),
 ('ID_LCUC9FYE', 'Triangulum'),
 ('ID_ENJWVMFU', 'Triangulum'),
 ('ID_5KHVZBQE', 'Triangulum'),
 ('ID_8MCII6F1', 'Triangulum'),
 ('ID_L3GUMYJ4', 'Backward'),
 ('ID_06QXUEYD', 'Cigar'),
 ('ID_A55NG93L', 'Sunflower'),
 ('ID_9XCMP096', 'Coma Pinwheel'),
 ('ID_R618L63O', 'Comet'),
 ('ID_XJ2WUU6R', 'Fireworks'),
 ('ID_Z8YAZGAP', 'Milky Way'),
 ('ID_KST7PRMU', 'Cigar'),
 ('ID_2QSZ4K64', 'Circinus'),
 ('ID_8DEUQQUO', 'Coma Pinwheel'),
 ('ID_MWRHCSMW', 'Comet'),
 ('ID_NXCBXYUJ', 'Cosmos Redshift 7'),
 ('ID_AT1RY70Q', 'Eye of Sauron'),
 ('ID_PSLB87BL', 'Fireworks'),
 ('ID_00J124MI', 'Medusa Merger'),
 ('ID_K7L28JTT', 'Backward'),
 ('ID_UXJDXX9L', 'Backward'),
 ('ID_Q3TLZ0NB', 'Backward'),
 ('ID_ZE3J281E', 'Backward'),
 ('ID_XWV89SWE', 'Backward'),
 ('ID_CT02DQO5', 'Backward'),
 ('ID_ICUXU3S2', 'Backward'),
 ('ID_T12UUJG7', 'Cartwheel'),
 ('ID_KYEZ4Q5U', 'Backward'),
 ('ID_VU4MWMEQ', 'Backward'),
 ('ID_ZZKYYPVY', 'Circinus'),
 ('ID_QNZG9PEU', 'Cartwheel'),
 ('ID_HZKCT0PI', 'Sunflower'),
 ('ID_ZWJJP6T6', 'Coma Pinwheel'),
 ('ID_K3VPZMW2', 'Cosmos Redshift 7'),
 ('ID_D2JPKHY3', 'Fireworks'),
 ('ID_AJQ6AXK8', 'Medusa Merger'),
 ('ID_Y1N9XWDE', 'Milky Way'),
 ('ID_DVUF7IYI', 'Triangulum'),
 ('ID_T31AU81S', 'Backward'),
 ('ID_DTTQRNE4', 'Backward'),
 ('ID_RAT7AK8R', 'Backward'),
 ('ID_YO6NFBHZ', 'Backward'),
 ('ID_58IZEI5C', 'Backward'),
 ('ID_MI4W134C', 'Backward'),
 ('ID_8JROBJ91', 'Backward'),
 ('ID_EWEN4C0N', 'Backward'),
 ('ID_8O8VRN8A', 'Backward'),
 ('ID_1ZPA9XMX', 'Comet'),
 ('ID_HV2F2U3U', 'Coma Pinwheel'),
 ('ID_UGM73VHI', 'Coma Pinwheel'),
 ('ID_0OR30CC4', 'Cigar'),
 ('ID_ZYI3C0HF', 'Sunflower'),
 ('ID_AQD3YVMC', 'Comet'),
 ('ID_Z669YURL', 'Fireworks'),
 ('ID_KLXJD2ZC', 'Milky Way'),
 ('ID_JN1VLXHD', 'Coma Pinwheel'),
 ('ID_G4CN5BNX', 'Coma Pinwheel'),
 ('ID_KKRFBDM9', 'Sculptor'),
 ('ID_R6C3GV9H', 'Sombrero'),
 ('ID_G78FOQYQ', 'Milky Way'),
 ('ID_5Y6WIRCG', 'Backward'),
 ('ID_ZE7D4JAP', 'Backward'),
 ('ID_HB9WSKP9', 'Backward'),
 ('ID_J15AKP1H', 'Cigar'),
 ('ID_QEMTT0ST', 'Fireworks'),
 ('ID_F19EBYGB', 'Butterfly'),
 ('ID_LL4GFXCN', 'Butterfly'),
 ('ID_E7000EMK', 'Butterfly'),
 ('ID_ZP3MIG6N', 'Butterfly'),
 ('ID_ZWPPN4W1', 'Butterfly'),
 ('ID_12945FWD', 'Butterfly'),
 ('ID_VAG7G5IC', 'Butterfly'),
 ('ID_GP3WNMQH', 'Tadpole'),
 ('ID_XMM4Z5EZ', 'Sculptor'),
 ('ID_UMASWHEF', 'Cartwheel'),
 ('ID_DXFDO3HX', 'Circinus'),
 ('ID_ZWD4FQ05', 'Sombrero'),
 ('ID_WPAZXG4Y', 'Coma Pinwheel'),
 ('ID_2FUAPJ5S', 'Comet'),
 ('ID_RROBJ38Y', 'Cosmos Redshift 7'),
 ('ID_9KVVOCR6', 'Medusa Merger'),
 ('ID_00EFNL7L', 'Milky Way'),
 ('ID_0TIEZ7MG', 'Butterfly'),
 ('ID_826SG25P', 'Butterfly'),
 ('ID_3LDF38RP', 'Sculptor'),
 ('ID_G2O8B9R9', 'Butterfly'),
 ('ID_QVW81QWH', 'Butterfly'),
 ('ID_U3SD7K1V', 'Milky Way'),
 ('ID_KSFJ2RGK', 'Cosmos Redshift 7'),
 ('ID_9JEI8DWV', 'Cosmos Redshift 7'),
 ('ID_34HDKVFW', 'Cosmos Redshift 7'),
 ('ID_XOSYZEG8', 'Circinus'),
 ('ID_8W85GO7G', 'Fireworks'),
 ('ID_IS5PC7WP', 'Tadpole'),
 ('ID_WJ12QQ71', 'Triangulum'),
 ('ID_7XQJ4ZA4', 'Cosmos Redshift 7'),
 ('ID_5H9QBQMQ', 'Sunflower'),
 ('ID_45M9BNQO', 'Sunflower'),
 ('ID_5X8VFC64', 'Sunflower'),
 ('ID_A1ARNO3H', 'Sculptor'),
 ('ID_NFRZQ99K', 'Cigar'),
 ('ID_5KQZOTHQ', 'Circinus'),
 ('ID_YGN8TPQ5', 'Cartwheel'),
 ('ID_8ITGS2P3', 'Coma Pinwheel'),
 ('ID_XWI57Q9K', 'Comet'),
 ('ID_DKNFRR94', 'Fireworks'),
 ('ID_9NX3Y6RK', 'Medusa Merger'),
 ('ID_ODJJ0THO', 'Milky Way'),
 ('ID_RNR88WYL', 'Tadpole'),
 ('ID_9AKIA9XC', 'Triangulum'),
 ('ID_SREWU5C6', 'Sunflower'),
 ('ID_CFNRNH31', 'Sunflower'),
 ('ID_ILDWDPY2', 'Sunflower'),
 ('ID_F60AZ116', 'Sunflower'),
 ('ID_3WQ0X2RV', 'Sunflower'),
 ('ID_7MS32IW5', 'Sunflower'),
 ('ID_0A2WEVY3', 'Cosmos Redshift 7'),
 ('ID_O7S3MLNP', 'Cosmos Redshift 7'),
 ('ID_DBF91Z88', 'Cosmos Redshift 7'),
 ('ID_65XZO9R3', 'Sculptor'),
 ('ID_APRR2449', 'Cigar'),
 ('ID_22R4A4OV', 'Cartwheel'),
 ('ID_T7W4WKY9', 'Comet'),
 ('ID_LEL3JT8E', 'Medusa Merger'),
 ('ID_3NW5KUQ3', 'Cosmos Redshift 7'),
 ('ID_0PBGEMAI', 'Cosmos Redshift 7'),
 ('ID_38GWYHWI', 'Cosmos Redshift 7'),
 ('ID_BJHEDY9T', 'Fireworks'),
 ('ID_3CWKIG2G', 'Fireworks'),
 ('ID_OQM43U7K', 'Fireworks'),
 ('ID_O4H6XGB4', 'Fireworks'),
 ('ID_1D1X4PFB', 'Sculptor'),
 ('ID_UL4NP2IJ', 'Cigar'),
 ('ID_HCCBAPTP', 'Circinus'),
 ('ID_WGM9ZTJ3', 'Cartwheel'),
 ('ID_KC53ZIHC', 'Comet'),
 ('ID_NER74N7H', 'Medusa Merger'),
 ('ID_4LTRF5VB', 'Milky Way'),
 ('ID_W25SLQ7X', 'Triangulum'),
 ('ID_KLAHLZBN', 'Fireworks'),
 ('ID_IZ8B4OAH', 'Fireworks'),
 ('ID_21SVBXLQ', 'Fireworks'),
 ('ID_WOXKZITI', 'Medusa Merger'),
 ('ID_THU0JYSJ', 'Medusa Merger'),
 ('ID_36NZ9IU5', 'Circinus'),
 ('ID_NEG8CDCD', 'Cartwheel'),
 ('ID_ROVPAHRR', 'Coma Pinwheel'),
 ('ID_1B6FP9H5', 'Medusa Merger'),
 ('ID_ZOW0PTN6', 'Cigar'),
 ('ID_O30PXNS2', 'Circinus'),
 ('ID_35M6T9JZ', 'Sombrero'),
 ('ID_WZASJ4IV', 'Comet'),
 ('ID_KYVAXN0B', 'Cosmos Redshift 7'),
 ('ID_5XNJBBBU', 'Eye of Sauron'),
 ('ID_V891OYVP', 'Cartwheel'),
 ('ID_7DRHHPZK', 'Cartwheel'),
 ('ID_JMKNLEUZ', 'Cartwheel'),
 ('ID_H27PCYW4', 'Cartwheel'),
 ('ID_QMJBCJTO', 'Cartwheel'),
 ('ID_42WQ2WIV', 'Circinus'),
 ('ID_NO60D4TO', 'Cartwheel'),
 ('ID_BJ2VX0EX', 'Sculptor'),
 ('ID_2QNA7OQE', 'Cigar'),
 ('ID_CW6K7CPC', 'Coma Pinwheel'),
 ('ID_9V68FI7L', 'Comet'),
 ('ID_40BVMU42', 'Medusa Merger'),
 ('ID_T4Q5NGSF', 'Milky Way'),
 ('ID_M7QACJDH', 'Tadpole'),
 ('ID_J9I1S6T7', 'Triangulum'),
 ('ID_I14RAYEM', 'Cartwheel'),
 ('ID_R803GAI9', 'Cartwheel'),
 ('ID_I7AY16R0', 'Cartwheel'),
 ('ID_QIS7V5IV', 'Fireworks'),
 ('ID_CNPU22AH', 'Fireworks'),
 ('ID_7HNMFC11', 'Medusa Merger'),
 ('ID_JGPD54X5', 'Sculptor'),
 ('ID_EIIQ4HJL', 'Circinus'),
 ('ID_6KO0SC5W', 'Eye of Sauron'),
 ('ID_PDW4BNW1', 'Medusa Merger'),
 ('ID_OC055HAA', 'Milky Way'),
 ('ID_C28GUZGL', 'Sculptor'),
 ('ID_OE2XOG04', 'Tadpole'),
 ('ID_QZLKZJ16', 'Coma Pinwheel'),
 ('ID_1ED799VW', 'Coma Pinwheel'),
 ('ID_KAHZNQZ4', 'Medusa Merger'),
 ('ID_46UP27C8', 'Cartwheel'),
 ('ID_7YEZ3VK0', 'Cartwheel'),
 ('ID_9NG7M7IH', 'Cartwheel'),
 ('ID_1KKTGS75', 'Cartwheel'),
 ('ID_T64ZJ5ZU', 'Fireworks'),
 ('ID_Q5C5K59A', 'Medusa Merger'),
 ('ID_Y86ZTX6M', 'Sculptor'),
 ('ID_SXSLZSI1', 'Cigar'),
 ('ID_JYOCIVGT', 'Milky Way'),
 ('ID_A2FD42KH', 'Tadpole'),
 ('ID_XJWVEY79', 'Medusa Merger'),
 ('ID_QAJGGM73', 'Cigar'),
 ('ID_39S61786', 'Sculptor'),
 ('ID_UCWLCAW5', 'Circinus'),
 ('ID_LXRTEQO2', 'Coma Pinwheel'),
 ('ID_DPPFAJ6O', 'Comet'),
 ('ID_7HRBFGSB', 'Cosmos Redshift 7'),
 ('ID_F1CNSJBO', 'Eye of Sauron'),
 ('ID_VVG172LB', 'Fireworks'),
 ('ID_D4WOYK9B', 'Medusa Merger'),
 ('ID_SSBUAMO7', 'Milky Way'),
 ('ID_L76JBE84', 'Cigar'),
 ('ID_WASR8LFE', 'Cigar'),
 ('ID_MWHDDOC0', 'Cigar'),
 ('ID_ZLWVE54E', 'Cigar'),
 ('ID_PMX7KBOK', 'Cigar'),
 ('ID_ZL8511XW', 'Cigar'),
 ('ID_NQK2S2JO', 'Cigar'),
 ('ID_UXUK6H9F', 'Circinus'),
 ('ID_K830M6NE', 'Tadpole'),
 ('ID_DC2OE4J0', 'Cigar'),
 ('ID_1TGCIK70', 'Cigar'),
 ('ID_G87HE5T9', 'Sombrero'),
 ('ID_OT3MQDZC', 'Cigar'),
 ('ID_DL7257PH', 'Cigar'),
 ('ID_N6FOPL2Y', 'Cigar'),
 ('ID_4X3QDC8P', 'Comet'),
 ('ID_MUYK98UO', 'Sculptor'),
 ('ID_IUV7FU2U', 'Cigar'),
 ('ID_PGGWBZ29', 'Medusa Merger'),
 ('ID_STX8TIE2', 'Tadpole'),
 ('ID_GUGKLLI9', 'Sculptor'),
 ('ID_S2DH4W65', 'Sombrero'),
 ('ID_XIRRA7RV', 'Comet'),
 ('ID_TN3U4DC4', 'Cosmos Redshift 7'),
 ('ID_IDJ1L6GL', 'Fireworks'),
 ('ID_628MNEH9', 'Medusa Merger'),
 ('ID_EKI17JGO', 'Milky Way'),
 ('ID_2947LQTO', 'Circinus'),
 ('ID_R9WWGZ6K', 'Circinus'),
 ('ID_0SXG1LVI', 'Circinus'),
 ('ID_HT3DTAG1', 'Comet'),
 ('ID_21BTFEL5', 'Circinus'),
 ('ID_Q05IUX5U', 'Circinus'),
 ('ID_W3F61OZ8', 'Circinus'),
 ('ID_EWTPLPQM', 'Circinus'),
 ('ID_ZJ5I8APD', 'Sculptor'),
 ('ID_FH7XN5HK', 'Medusa Merger'),
 ('ID_4PB4VL5Q', 'Milky Way'),
 ('ID_T9ASGHM0', 'Circinus'),
 ('ID_YXXCNK2G', 'Circinus'),
 ('ID_UHMPXW5E', 'Circinus'),
 ('ID_6K7LRVTC', 'Coma Pinwheel'),
 ('ID_AO08Y8FZ', 'Sculptor'),
 ('ID_OIZQHOLE', 'Comet'),
 ('ID_58Y3YYGP', 'Cosmos Redshift 7'),
 ('ID_WX90Q0Q3', 'Milky Way'),
 ('ID_7KQ7M6CR', 'Coma Pinwheel'),
 ('ID_RJZDWDAU', 'Coma Pinwheel'),
 ('ID_0OPXV0TY', 'Coma Pinwheel'),
 ('ID_897S67BZ', 'Coma Pinwheel'),
 ('ID_ZF8TL0GP', 'Sombrero'),
 ('ID_H0Q7JNV1', 'Eye of Sauron'),
 ('ID_ULFMIS9R', 'Coma Pinwheel'),
 ('ID_7GHLYGYV', 'Coma Pinwheel'),
 ('ID_VACHXR44', 'Coma Pinwheel'),
 ('ID_UY24QO9Y', 'Tadpole'),
 ('ID_42DWN5QA', 'Comet'),
 ('ID_33AOLMD8', 'Comet'),
 ('ID_EK4VZ52Q', 'Sculptor'),
 ('ID_BBYSJZ7Z', 'Eye of Sauron'),
 ('ID_CAO3DHF3', 'Fireworks'),
 ('ID_WQ6K1M6J', 'Medusa Merger'),
 ('ID_JL0A7NYU', 'Comet'),
 ('ID_F04XYXNO', 'Comet'),
 ('ID_WH4S1N9Q', 'Comet'),
 ('ID_G5EFF75Z', 'Sculptor'),
 ('ID_ENOCMDPI', 'Milky Way'),
 ('ID_UWJ3YGHF', 'Sombrero'),
 ('ID_8JTQDHX3', 'Milky Way'),
 ('ID_2V7QGMM2', 'Comet'),
 ('ID_IXRGB6OV', 'Comet'),
 ('ID_T5467PO8', 'Tadpole'),
 ('ID_MWCIADS6', 'Comet'),
 ('ID_9V6TAYFV', 'Comet'),
 ('ID_40OQTBJ8', 'Comet'),
 ('ID_Q4V1C0YI', 'Sculptor'),
 ('ID_JFK7XPYK', 'Medusa Merger'),
 ('ID_WDA74NYV', 'Milky Way'),
 ('ID_FHG03TE0', 'Sombrero'),
 ('ID_B8MME8GP', 'Sombrero'),
 ('ID_S7T4YYCU', 'Sombrero'),
 ('ID_1LEM1AAP', 'Milky Way'),
 ('ID_0M5K2L1J', 'Milky Way'),
 ('ID_WT3PHABY', 'Milky Way'),
 ('ID_24HKPKQH', 'Sombrero'),
 ('ID_QRQCZ4Z4', 'Cosmos Redshift 7'),
 ('ID_YYCO8ZBA', 'Eye of Sauron'),
 ('ID_QGNRR2WQ', 'Fireworks'),
 ('ID_PBG2XS57', 'Medusa Merger'),
 ('ID_J1010ZTT', 'Sculptor'),
 ('ID_2E3951AN', 'Medusa Merger'),
 ('ID_XW18HGR9', 'Cosmos Redshift 7'),
 ('ID_OZKQYKQF', 'Cosmos Redshift 7'),
 ('ID_D801VVTI', 'Eye of Sauron'),
 ('ID_Y1FWWSBP', 'Cosmos Redshift 7'),
 ('ID_LRWZVXJZ', 'Cosmos Redshift 7'),
 ('ID_GPZBRVUQ', 'Medusa Merger'),
 ('ID_U2DPW95R', 'Eye of Sauron'),
 ('ID_2KH2XHCH', 'Fireworks'),
 ('ID_PYUUJ5M3', 'Cosmos Redshift 7'),
 ('ID_SQB73VYU', 'Fireworks'),
 ('ID_HPTFSC3K', 'Eye of Sauron'),
 ('ID_XMQ5NR2G', 'Eye of Sauron'),
 ('ID_LEBJ75LN', 'Sculptor'),
 ('ID_QZMTM1LI', 'Fireworks'),
 ('ID_0DQCXCXH', 'Milky Way'),
 ('ID_T62C8AP0', 'Fireworks'),
 ('ID_PREVA6HZ', 'Medusa Merger'),
 ('ID_9DJ219JY', 'Sculptor'),
 ('ID_A1PN23J6', 'Sombrero'),
 ('ID_XFQO60PZ', 'Sculptor'),
 ('ID_VTVBHCO7', 'Milky Way')]

In [ ]:
away_data=[];
for x,y in temp_data:
    b=train_game_statistics[(train_game_statistics.Game_ID==x) & (train_game_statistics.Team==y)].values
    away_data.append(b)
away_data[0]

array([['ID_KAG4KAE9', 'Player_MV0TGOYE', 1.0, ..., 0.0, 0.18, 0.52],
       ['ID_KAG4KAE9', 'Player_MV0TGOYE', 2.0, ..., 1.0, 0.18, 0.52],
       ['ID_KAG4KAE9', 'Player_P1I1LJ4T', 3.0, ..., 0.0, 0.2, 0.53],
       ...,
       ['ID_KAG4KAE9', 'Player_D9UE7ID1', 3724.0, ..., 1.0, 94.08, 94.42],
       ['ID_KAG4KAE9', 'Player_CFXW866O', 3725.0, ..., 0.0, 94.1, 94.43],
       ['ID_KAG4KAE9', 'Player_CFXW866O', 3728.0, ..., 0.0, 94.1, 94.43]],
      dtype=object)

In [ ]:
# Convert Lists to DataFrames
# Home Data
b=[pd.DataFrame(home_data[x],columns=train_game_statistics.columns) for x in range(len(home_data))]
home_data1=pd.concat(b)
print(home_data1.shape)
# Away data
b=[pd.DataFrame(away_data[x],columns=train_game_statistics.columns) for x in range(len(away_data))]
away_data1=pd.concat(b)
print(away_data1.shape)

(796633, 20)
(771200, 20)

In [ ]:
game_home=home_data1.groupby(['Game_ID','Player_ID']).sum().groupby(['Game_ID']).sum()
game_home

,id,X,Y,Season,Shots,SoT,Goals_scored,Goals_conceded,Accurate passes,Inaccurate passes,Passes,Start_minutes,End_minutes
Game_ID,,,,,,,,,,,,,
ID_00EFNL7L,3321595.0,101287.8,62556.1,1826,19.0,7.0,0.0,1.0,327.0,83.0,410.0,93684.54,94291.59
ID_00J124MI,2939691.0,88784.6,53127.2,1615,18.0,6.0,0.0,0.0,259.0,71.0,330.0,67403.75,67941.73
ID_04T9W310,3700349.0,88821.0,71387.8,3886,6.0,4.0,2.0,2.0,394.0,87.0,481.0,88518.80,89169.40
ID_06QXUEYD,4277256.0,113904.2,67590.5,4152,11.0,2.0,2.0,1.0,448.0,82.0,530.0,104091.11,104784.62
ID_0A2WEVY3,3797786.0,87106.4,59946.5,3662,4.0,2.0,0.0,1.0,376.0,99.0,475.0,102341.48,102952.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
ID_ZWD4FQ05,3572688.0,104685.0,56358.4,1956,7.0,5.0,2.0,2.0,324.0,94.0,418.0,89890.41,90545.37
ID_ZWJJP6T6,3052205.0,88078.9,54625.1,3430,10.0,3.0,2.0,1.0,279.0,77.0,356.0,75182.42,75756.45
ID_ZWPPN4W1,4404438.0,114540.9,68772.6,2078,11.0,2.0,0.0,1.0,352.0,93.0,445.0,104357.39,105050.28
ID_ZYI3C0HF,4176732.0,114670.8,72560.5,4410,9.0,4.0,0.0,3.0,455.0,82.0,537.0,103440.47,104176.98
ID_ZZKYYPVY,2801597.0,85159.9,53135.5,3218,13.0,3.0,2.0,1.0,264.0,81.0,345.0,77580.99,78120.00

In [ ]:
game_home.drop(['id','X','Y','Season'], axis=1, inplace=True)

In [ ]:
game_home['Shot_Pct']=((game_home['SoT']+1)/(game_home['Shots']+1))
game_home['Pass_Pct']=((game_home['Accurate passes']+1)/(game_home['Passes']+1))

In [ ]:
game_away=away_data1.groupby(['Game_ID','Player_ID']).sum().groupby(['Game_ID']).sum()
game_away

,id,X,Y,Season,Shots,SoT,Goals_scored,Goals_conceded,Accurate passes,Inaccurate passes,Passes,Start_minutes,End_minutes
Game_ID,,,,,,,,,,,,,
ID_00EFNL7L,2657258.0,80624.4,53096.2,1630,6.0,0.0,1.0,0.0,263.0,86.0,349.0,75153.18,75697.46
ID_00J124MI,4525325.0,123879.0,71149.4,2247,12.0,3.0,0.0,0.0,501.0,76.0,577.0,104647.57,105395.54
ID_04T9W310,4415985.0,120265.1,73400.3,4168,9.0,2.0,2.0,2.0,407.0,95.0,502.0,105823.38,106521.65
ID_06QXUEYD,3076214.0,93232.3,66253.9,3514,8.0,3.0,1.0,2.0,352.0,72.0,424.0,73707.88,74295.43
ID_0A2WEVY3,3207252.0,104798.2,70937.9,3820,12.0,3.0,1.0,0.0,390.0,99.0,489.0,85326.07,85963.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
ID_ZWD4FQ05,3114015.0,86678.6,59285.2,1699,10.0,4.0,2.0,2.0,243.0,97.0,340.0,78474.32,79043.73
ID_ZWJJP6T6,3949008.0,104160.0,66482.6,4050,11.0,3.0,1.0,2.0,414.0,81.0,495.0,97547.29,98224.11
ID_ZWPPN4W1,4248447.0,102570.4,71206.0,2080,6.0,2.0,1.0,0.0,364.0,99.0,463.0,100736.08,101430.25
ID_ZYI3C0HF,3451605.0,89741.3,55050.9,3398,10.0,6.0,3.0,0.0,292.0,72.0,364.0,85799.89,86368.08
ID_ZZKYYPVY,3592316.0,102671.0,58936.3,3930,11.0,3.0,1.0,2.0,391.0,73.0,464.0,99461.18,100118.54

In [ ]:
game_away.drop(['id','X','Y','Season'], axis=1, inplace=True)

In [ ]:
game_away['Shot_Pct']=((game_away['SoT']+1)/(game_away['Shots']+1))
game_away['Pass_Pct']=((game_away['Accurate passes']+1)/(game_away['Passes']+1))

In [ ]:
#game_combined=game_home

In [ ]:
#game_combined['Shots_ratio']=(game_home['Shots']+1)/(game_away['Shots']+1)

In [ ]:
#game_combined['SoT_ratio']=(game_home['SoT']+1)/(game_away['SoT']+1)
#game_combined['acc_pass_ratio']=(game_home['Accurate passes'])/(game_away['Accurate passes'])
#game_combined['inacc_pass_ratio']=(game_home['Inaccurate passes'])/(game_away['Inaccurate passes'])
#game_combined['pass_ratio']=(game_home['Passes'])/(game_away['Passes'])
#game_combined['Shotpct_ratio']=(game_home['Shot_Pct'])/(game_away['Shot_Pct'])
#game_combined['passpct_ratio']=(game_home['Pass_Pct'])/(game_away['Pass_Pct'])

Creating new columns from Goals Scored and Goals conceded

In [ ]:
home=pd.merge(train,game_home,left_on='Game_ID',right_index=True,how='inner')

In [ ]:
away=pd.merge(train,game_away,left_on='Game_ID',right_index=True,how='inner')

In [ ]:
home1=home[['Home Team', 'Goals_scored', 'Goals_conceded']].copy()

In [ ]:
away1=away[['Away Team', 'Goals_scored', 'Goals_conceded']].copy()

In [ ]:
home2=home1.groupby(['Home Team']).sum()

In [ ]:
away2=away1.groupby(['Away Team']).sum()

In [ ]:
home2['Goals_scored']=home2['Goals_scored']+away2['Goals_scored']

In [ ]:
home2['Goals_conceded']=home2['Goals_conceded']+away2['Goals_conceded']

In [ ]:
home2['Goal_diff']=home2['Goals_scored']-home2['Goals_conceded']

In [ ]:
home2['Goals_ratio']=home2['Goals_scored']/home2['Goals_conceded']

In [ ]:
home2=home2.reset_index()

In [ ]:
goals=home2

In [ ]:
goals.rename(columns={'Home Team':'Team'}, inplace=True)

In [ ]:
game_home.drop(['Goals_scored','Goals_conceded'], axis=1, inplace=True)

In [ ]:
game_away.drop(['Goals_scored','Goals_conceded'], axis=1, inplace=True)

In [ ]:
game_combined=game_home

In [ ]:
game_combined['Shots_ratio']=(game_home['Shots']+1)/(game_away['Shots']+1)

In [ ]:
game_combined['SoT_ratio']=(game_home['SoT']+1)/(game_away['SoT']+1)
game_combined['acc_pass_ratio']=(game_home['Accurate passes'])/(game_away['Accurate passes'])
game_combined['inacc_pass_ratio']=(game_home['Inaccurate passes'])/(game_away['Inaccurate passes'])
game_combined['pass_ratio']=(game_home['Passes'])/(game_away['Passes'])

In [ ]:
train_data1=pd.merge(train,game_combined,left_on='Game_ID',right_index=True,how='inner')

In [ ]:
goals1=goals

In [ ]:
goals1.rename(columns={'Goals_ratio':'Goals_ratio_away'}, inplace=True)

In [ ]:
goals1['Goals_ratio_home']=goals1['Goals_ratio_away']

In [ ]:
goals2=goals1[['Team', 'Goals_ratio_away']].copy()

In [ ]:
goals1.drop(['Goals_ratio_away'], axis=1, inplace=True)

In [ ]:
goals1.rename(columns={'Team':'Home Team'}, inplace=True)
goals2.rename(columns={'Team':'Away Team'}, inplace=True)

In [ ]:
goals1.head()

   Home Team  Goals_scored  Goals_conceded  Goal_diff  Goals_ratio_home
0  Andromeda          47.0            48.0       -1.0          0.979167
1   Antennae          53.0            50.0        3.0          1.060000
2   Backward          41.0            51.0      -10.0          0.803922
3  Butterfly          28.0            21.0        7.0          1.333333
4  Cartwheel          72.0            72.0        0.0          1.000000

Merging

In [ ]:
train_data=pd.merge(train_data1,goals1, how='inner', left_on='Home Team', right_on='Home Team')

In [ ]:
train_data.isnull().sum()

Date                 0
Season               0
Match_ID             0
Game_ID              0
Home Team            0
Away Team            0
Score                0
Shots                0
SoT                  0
Accurate passes      0
Inaccurate passes    0
Passes               0
Start_minutes        0
End_minutes          0
Shot_Pct             0
Pass_Pct             0
Shots_ratio          0
SoT_ratio            0
acc_pass_ratio       0
inacc_pass_ratio     0
pass_ratio           0
Goals_scored         0
Goals_conceded       0
Goal_diff            0
Goals_ratio_home     0
dtype: int64

In [ ]:
train_data=pd.merge(train_data,goals2, how='inner', left_on='Away Team', right_on='Away Team')

In [ ]:
train_data.drop(['Date','Season','Match_ID','Home Team','Away Team','Game_ID'], axis=1, inplace=True)

In [ ]:
train_data['Goals_ratio']=train_data['Goals_ratio_home']/train_data['Goals_ratio_away']

TEST DATA

In [ ]:
test_game_statistics.drop(['next_player', 'next_x', 'next_y', 'event_id', 'next_team','next_event_id', 'xt_value'], axis=1, inplace=True)

In [ ]:
temp_data=list(zip(test.Game_ID,test['Home Team']))
temp_data

[('ID_8518U587', 'Antennae'),
 ('ID_H49BIKG7', 'Cosmos Redshift 7'),
 ('ID_PO6SP4VA', 'Cosmos Redshift 7'),
 ('ID_MZRCNBAQ', 'Cartwheel'),
 ('ID_CV9VOLIU', 'Cosmos Redshift 7'),
 ('ID_EP02V6O9', 'Cosmos Redshift 7'),
 ('ID_D1BKOMNB', 'Medusa Merger'),
 ('ID_GGFY5Z38', 'Andromeda'),
 ('ID_YQ6DCSJJ', 'Cigar'),
 ('ID_ZIMAODWU', 'Circinus'),
 ('ID_H6V0DHCM', 'Cosmos Redshift 7'),
 ('ID_EFUM1IB3', 'Cosmos Redshift 7'),
 ('ID_7H9RUYR2', 'Antennae'),
 ('ID_7JTHUMTF', 'Antennae'),
 ('ID_VZDE4BA3', 'Sunflower'),
 ('ID_1Y735BT9', 'Andromeda'),
 ('ID_C51DS9XE', 'Malin 1'),
 ('ID_EEAWBOYL', 'Fireworks'),
 ('ID_OKHY3GBQ', 'Cigar'),
 ('ID_JKJP61NL', 'Antennae'),
 ('ID_ZRZC49M1', 'Antennae'),
 ('ID_NQGKKQRG', 'Antennae'),
 ('ID_KL74YZ1W', 'Needle'),
 ('ID_D4BBONMS', 'Antennae'),
 ('ID_E4NAVOHG', 'Circinus'),
 ('ID_8AKT073X', 'Antennae'),
 ('ID_SGHWIP1E', 'Antennae'),
 ('ID_OHS6RR07', 'Milky Way'),
 ('ID_0BFR12C0', 'Antennae'),
 ('ID_O3EQ8WEA', 'Medusa Merger'),
 ('ID_PD70LTRE', 'Medusa Merger'),
 ('ID_B9JSESNH', 'Needle'),
 ('ID_7ZQ7E7Q2', 'Cartwheel'),
 ('ID_S2ZLOYQU', 'Sunflower'),
 ('ID_UUQYAGBP', 'Medusa Merger'),
 ('ID_2BHM1MAF', 'Malin 1'),
 ('ID_2B96PJLU', 'Cigar'),
 ('ID_QKWD8147', 'Whirlpool'),
 ('ID_NMRV6S78', 'Cartwheel'),
 ('ID_NQX0L8NJ', 'Sunflower'),
 ('ID_GGRLN92Z', 'Malin 1'),
 ('ID_8LEIJZJI', 'Andromeda'),
 ('ID_H4WRH27A', 'Fireworks'),
 ('ID_TRN20YF5', 'Andromeda'),
 ('ID_313CQJ6L', 'Comet'),
 ('ID_60EADYBI', 'Cigar'),
 ('ID_4Q60CD7W', 'Andromeda'),
 ('ID_LWI3010X', 'Andromeda'),
 ('ID_N4FNUPW8', 'Medusa Merger'),
 ('ID_G91KCS98', 'Andromeda'),
 ('ID_RFU5FMC8', 'Milky Way'),
 ('ID_GBP5RWBW', 'Andromeda'),
 ('ID_EWFWK6L1', 'Antennae'),
 ('ID_QCQ20X8Y', 'Antennae'),
 ('ID_03VRW8WV', 'Comet'),
 ('ID_XQGYMP2Q', 'Whirlpool'),
 ('ID_A46DVQWP', 'Andromeda'),
 ('ID_0UB8ADG9', 'Andromeda'),
 ('ID_FDCEHVOD', 'Andromeda'),
 ('ID_SY9KA6L3', 'Andromeda'),
 ('ID_RX2CNZIS', 'Circinus'),
 ('ID_B3NVY9HP', 'Tadpole'),
 ('ID_MXDJNYS9', 'Sunflower'),
 ('ID_WJIU8X3N', 'Malin 1'),
 ('ID_DYAVEIYE', 'Medusa Merger'),
 ('ID_L80OJ6QI', 'Milky Way'),
 ('ID_A5U63MGQ', 'Cigar'),
 ('ID_B5ED50XX', 'Malin 1'),
 ('ID_2X3AC0BS', 'Antennae'),
 ('ID_ZTDZNU6I', 'Whirlpool'),
 ('ID_B32VWKSX', 'Tadpole'),
 ('ID_D8RLSTH5', 'Antennae'),
 ('ID_7RVSY2WQ', 'Cartwheel'),
 ('ID_DLPZZFIJ', 'Antennae'),
 ('ID_IPJJKELT', 'Needle'),
 ('ID_MM9562CN', 'Milky Way'),
 ('ID_ZJC5BV5Z', 'Needle'),
 ('ID_HNY0SOAW', 'Needle'),
 ('ID_RPNHBU1X', 'Medusa Merger'),
 ('ID_L1OMXXIV', 'Circinus'),
 ('ID_QPA4T2QH', 'Needle'),
 ('ID_VP9Q1486', 'Backward'),
 ('ID_PK7PTLYZ', 'Sunflower'),
 ('ID_EU409IWG', 'Backward'),
 ('ID_XWL7CYH2', 'Milky Way'),
 ('ID_1J98M9UL', 'Whirlpool'),
 ('ID_EETOBLMQ', 'Backward'),
 ('ID_ZD3UQK1K', 'Backward'),
 ('ID_DSZ1VC2A', 'Medusa Merger'),
 ('ID_3SIVKWL4', 'Backward'),
 ('ID_BR430MM1', 'Malin 1'),
 ('ID_4G117ZRE', 'Backward'),
 ('ID_XK39LD7P', 'Cosmos Redshift 7'),
 ('ID_QQYS31OV', 'Backward'),
 ('ID_EVSAW1BF', 'Backward'),
 ('ID_7ZBSNKA9', 'Circinus'),
 ('ID_4M8BH80D', 'Cigar'),
 ('ID_QV0XBIAB', 'Sunflower'),
 ('ID_ZMO6O1V6', 'Tadpole'),
 ('ID_EVTW8X2J', 'Cosmos Redshift 7'),
 ('ID_TEHN7MG2', 'Cosmos Redshift 7'),
 ('ID_DN9ALJT4', 'Malin 1'),
 ('ID_3I1STYJX', 'Cosmos Redshift 7'),
 ('ID_X9050P7D', 'Needle'),
 ('ID_PJ53WB0E', 'Cosmos Redshift 7'),
 ('ID_AB2XN1F5', 'Cartwheel'),
 ('ID_N0UG6G1F', 'Backward'),
 ('ID_PYMMJPRC', 'Backward'),
 ('ID_0H4KVTOZ', 'Comet'),
 ('ID_KSKX84HK', 'Backward'),
 ('ID_8QTW09GB', 'Backward'),
 ('ID_HRER0KI5', 'Tadpole'),
 ('ID_FKNOHQ2F', 'Medusa Merger'),
 ('ID_9H3FH940', 'Cigar'),
 ('ID_TRXZ1689', 'Cigar'),
 ('ID_H6H66KH2', 'Cigar'),
 ('ID_U8OKJQV2', 'Comet'),
 ('ID_WRQ0YFYZ', 'Tadpole'),
 ('ID_AFHJCI8U', 'Cartwheel'),
 ('ID_JZ6N5FRO', 'Comet'),
 ('ID_3TIWWKU9', 'Comet'),
 ('ID_JFIU2R4K', 'Cigar'),
 ('ID_56ZZJ9EI', 'Comet'),
 ('ID_OBS64UDF', 'Comet'),
 ('ID_SA37C0V7', 'Malin 1'),
 ('ID_HTSWMY3T', 'Comet'),
 ('ID_NFN5I5XU', 'Comet'),
 ('ID_S2N3NDJS', 'Comet'),
 ('ID_05YW7A1R', 'Sunflower'),
 ('ID_W1EF4MOT', 'Comet'),
 ('ID_OB71L9F1', 'Fireworks'),
 ('ID_LJF4GEZC', 'Cartwheel'),
 ('ID_7MWJO1RG', 'Cigar'),
 ('ID_9FMP4X22', 'Sunflower'),
 ('ID_8ZJMCSAG', 'Tadpole'),
 ('ID_A84IUATV', 'Milky Way'),
 ('ID_ANHOSW6K', 'Whirlpool'),
 ('ID_MPA7FT70', 'Milky Way'),
 ('ID_7DM8G9SL', 'Cosmos Redshift 7'),
 ('ID_06SV1XSM', 'Cosmos Redshift 7'),
 ('ID_JNE2K1SS', 'Cosmos Redshift 7'),
 ('ID_86GTEWAA', 'Fireworks'),
 ('ID_2DMNO9QP', 'Cosmos Redshift 7'),
 ('ID_JA9L72HB', 'Fireworks'),
 ('ID_A0EALXUP', 'Medusa Merger'),
 ('ID_MNGV4C4L', 'Whirlpool'),
 ('ID_5LFD56QF', 'Comet'),
 ('ID_KR88Y90B', 'Sunflower'),
 ('ID_YMK5WFEQ', 'Sunflower'),
 ('ID_BK1X6A61', 'Sunflower'),
 ('ID_YSOEYNCU', 'Whirlpool'),
 ('ID_QHZJNHVX', 'Circinus'),
 ('ID_9UVQHS74', 'Milky Way'),
 ('ID_UOTGKHS3', 'Whirlpool'),
 ('ID_IG3ZU2ZF', 'Fireworks'),
 ('ID_85W3ZWMS', 'Sunflower'),
 ('ID_F2M9J1QJ', 'Cartwheel'),
 ('ID_PK1XYY2J', 'Cigar'),
 ('ID_LUDJ2HBX', 'Cigar'),
 ('ID_7Q5V45IR', 'Cigar'),
 ('ID_3SHIZPTH', 'Needle'),
 ('ID_IPWDET7J', 'Circinus'),
 ('ID_2WSDLFNM', 'Cigar'),
 ('ID_5RTFVRBT', 'Fireworks'),
 ('ID_YU30VY06', 'Malin 1'),
 ('ID_PBON8UC5', 'Sunflower'),
 ('ID_4KXP34GC', 'Cartwheel'),
 ('ID_B8ZVJSX7', 'Tadpole'),
 ('ID_064HV3UA', 'Fireworks'),
 ('ID_TFI6B51W', 'Fireworks'),
 ('ID_P98LF0O1', 'Whirlpool'),
 ('ID_JHECYNWP', 'Fireworks'),
 ('ID_GOMKISKS', 'Fireworks'),
 ('ID_AOLHJTW3', 'Fireworks'),
 ('ID_VEHWAM3N', 'Needle'),
 ('ID_H5QG5VMD', 'Circinus'),
 ('ID_JMF7GIUY', 'Cartwheel'),
 ('ID_KJBPWWIH', 'Whirlpool'),
 ('ID_MJ8THLEX', 'Tadpole'),
 ('ID_IBRGSBOA', 'Medusa Merger'),
 ('ID_0OW7LBXH', 'Tadpole'),
 ('ID_1YF71544', 'Medusa Merger'),
 ('ID_YP3N91A2', 'Circinus'),
 ('ID_MWXN4B53', 'Fireworks'),
 ('ID_RRYKCVJW', 'Tadpole'),
 ('ID_08N8KYTM', 'Malin 1'),
 ('ID_CVL86B7P', 'Cartwheel'),
 ('ID_OBSKQ4V1', 'Cartwheel'),
 ('ID_ON6TBDP7', 'Milky Way'),
 ('ID_9P65QCMQ', 'Cartwheel'),
 ('ID_UIJNWDX2', 'Cartwheel'),
 ('ID_Q0QMD9X9', 'Cartwheel'),
 ('ID_0D97CTM2', 'Circinus'),
 ('ID_W5BFF5QC', 'Medusa Merger'),
 ('ID_WDL1IC3Y', 'Comet'),
 ('ID_25GTI42K', 'Whirlpool'),
 ('ID_LVP6C9HW', 'Comet'),
 ('ID_XBT7BBZD', 'Circinus'),
 ('ID_FEOI64KN', 'Whirlpool'),
 ('ID_1KCBWUKE', 'Milky Way'),
 ('ID_568NZHSC', 'Tadpole'),
 ('ID_K06LVF2G', 'Circinus'),
 ('ID_MP4ONP0P', 'Tadpole'),
 ('ID_ZQOB9ZQL', 'Malin 1'),
 ('ID_GLACPTCA', 'Milky Way'),
 ('ID_1JGSZL4I', 'Malin 1'),
 ('ID_6NMJFGI6', 'Medusa Merger'),
 ('ID_V8L2BWZV', 'Malin 1'),
 ('ID_ZUPS2JD2', 'Sunflower'),
 ('ID_O50PFEVT', 'Malin 1'),
 ('ID_JXNNMUJK', 'Circinus'),
 ('ID_IM6OHCK8', 'Circinus'),
 ('ID_6DCVCZN8', 'Fireworks'),
 ('ID_RT5HR95R', 'Milky Way'),
 ('ID_7HWNZT53', 'Milky Way'),
 ('ID_7SH1NGU4', 'Needle'),
 ('ID_IGWZ8LQR', 'Whirlpool'),
 ('ID_QR4DQRG1', 'Needle'),
 ('ID_133YXY0T', 'Backward'),
 ('ID_XVGLDCOL', 'Milky Way'),
 ('ID_GI90U9RD', 'Andromeda'),
 ('ID_BXLQY78T', 'Backward'),
 ('ID_YLIXN9AV', 'Needle'),
 ('ID_530FN5PE', 'Andromeda'),
 ('ID_FRUGDE4G', 'Whirlpool'),
 ('ID_LTB6HGNO', 'Tadpole'),
 ('ID_KD5JPIY4', 'Needle'),
 ('ID_GVX36W01', 'Andromeda'),
 ('ID_EMIAV5PV', 'Needle'),
 ('ID_QKQ00O16', 'Malin 1'),
 ('ID_172V2IXW', 'Tadpole'),
 ('ID_2ZK5TE39', 'Circinus'),
 ('ID_IS54QGW9', 'Needle'),
 ('ID_YG9IONLS', 'Tadpole')]

In [ ]:
home_data=[];
for x,y in temp_data:
    b=test_game_statistics[(test_game_statistics.Game_ID==x) & (test_game_statistics.Team==y)].values
    home_data.append(b)
home_data[0]

array([['ID_8518U587', 'Player_XY4WUS3P', 5.0, ..., 0.0, 0.12, 0.45],
       ['ID_8518U587', 'Player_XY4WUS3P', 9.0, ..., 0.0, 0.12, 0.45],
       ['ID_8518U587', 'Player_XY4WUS3P', 10.0, ..., 0.0, 0.12, 0.45],
       ...,
       ['ID_8518U587', 'Player_YCIF12TK', 3993.0, ..., 0.0, 97.93, 98.27],
       ['ID_8518U587', 'Player_5LKU609Q', 3995.0, ..., 0.0, 97.93, 98.27],
       ['ID_8518U587', 'Player_5LKU609Q', 3996.0, ..., 0.0, 97.93, 98.27]],
      dtype=object)

In [ ]:
# Away Team
temp_data=list(zip(test.Game_ID,test['Away Team']))
temp_data

[('ID_8518U587', 'Cosmos Redshift 7'),
 ('ID_H49BIKG7', 'Tadpole'),
 ('ID_PO6SP4VA', 'Medusa Merger'),
 ('ID_MZRCNBAQ', 'Cosmos Redshift 7'),
 ('ID_CV9VOLIU', 'Needle'),
 ('ID_EP02V6O9', 'Antennae'),
 ('ID_D1BKOMNB', 'Cosmos Redshift 7'),
 ('ID_GGFY5Z38', 'Cosmos Redshift 7'),
 ('ID_YQ6DCSJJ', 'Cosmos Redshift 7'),
 ('ID_ZIMAODWU', 'Cosmos Redshift 7'),
 ('ID_H6V0DHCM', 'Andromeda'),
 ('ID_EFUM1IB3', 'Sunflower'),
 ('ID_7H9RUYR2', 'Backward'),
 ('ID_7JTHUMTF', 'Cigar'),
 ('ID_VZDE4BA3', 'Antennae'),
 ('ID_1Y735BT9', 'Antennae'),
 ('ID_C51DS9XE', 'Antennae'),
 ('ID_EEAWBOYL', 'Antennae'),
 ('ID_OKHY3GBQ', 'Antennae'),
 ('ID_JKJP61NL', 'Needle'),
 ('ID_ZRZC49M1', 'Whirlpool'),
 ('ID_NQGKKQRG', 'Circinus'),
 ('ID_KL74YZ1W', 'Antennae'),
 ('ID_D4BBONMS', 'Medusa Merger'),
 ('ID_E4NAVOHG', 'Antennae'),
 ('ID_8AKT073X', 'Sunflower'),
 ('ID_SGHWIP1E', 'Fireworks'),
 ('ID_OHS6RR07', 'Antennae'),
 ('ID_0BFR12C0', 'Tadpole'),
 ('ID_O3EQ8WEA', 'Tadpole'),
 ('ID_PD70LTRE', 'Comet'),
 ('ID_B9JSESNH', 'Medusa Merger'),
 ('ID_7ZQ7E7Q2', 'Medusa Merger'),
 ('ID_S2ZLOYQU', 'Medusa Merger'),
 ('ID_UUQYAGBP', 'Cartwheel'),
 ('ID_2BHM1MAF', 'Medusa Merger'),
 ('ID_2B96PJLU', 'Medusa Merger'),
 ('ID_QKWD8147', 'Medusa Merger'),
 ('ID_NMRV6S78', 'Andromeda'),
 ('ID_NQX0L8NJ', 'Andromeda'),
 ('ID_GGRLN92Z', 'Andromeda'),
 ('ID_8LEIJZJI', 'Medusa Merger'),
 ('ID_H4WRH27A', 'Andromeda'),
 ('ID_TRN20YF5', 'Backward'),
 ('ID_313CQJ6L', 'Andromeda'),
 ('ID_60EADYBI', 'Andromeda'),
 ('ID_4Q60CD7W', 'Milky Way'),
 ('ID_LWI3010X', 'Fireworks'),
 ('ID_N4FNUPW8', 'Andromeda'),
 ('ID_G91KCS98', 'Comet'),
 ('ID_RFU5FMC8', 'Andromeda'),
 ('ID_GBP5RWBW', 'Needle'),
 ('ID_EWFWK6L1', 'Milky Way'),
 ('ID_QCQ20X8Y', 'Cartwheel'),
 ('ID_03VRW8WV', 'Antennae'),
 ('ID_XQGYMP2Q', 'Andromeda'),
 ('ID_A46DVQWP', 'Sunflower'),
 ('ID_0UB8ADG9', 'Cartwheel'),
 ('ID_FDCEHVOD', 'Malin 1'),
 ('ID_SY9KA6L3', 'Cigar'),
 ('ID_RX2CNZIS', 'Andromeda'),
 ('ID_B3NVY9HP', 'Andromeda'),
 ('ID_MXDJNYS9', 'Malin 1'),
 ('ID_WJIU8X3N', 'Fireworks'),
 ('ID_DYAVEIYE', 'Malin 1'),
 ('ID_L80OJ6QI', 'Malin 1'),
 ('ID_A5U63MGQ', 'Malin 1'),
 ('ID_B5ED50XX', 'Milky Way'),
 ('ID_2X3AC0BS', 'Comet'),
 ('ID_ZTDZNU6I', 'Antennae'),
 ('ID_B32VWKSX', 'Antennae'),
 ('ID_D8RLSTH5', 'Malin 1'),
 ('ID_7RVSY2WQ', 'Antennae'),
 ('ID_DLPZZFIJ', 'Andromeda'),
 ('ID_IPJJKELT', 'Comet'),
 ('ID_MM9562CN', 'Needle'),
 ('ID_ZJC5BV5Z', 'Sunflower'),
 ('ID_HNY0SOAW', 'Cartwheel'),
 ('ID_RPNHBU1X', 'Needle'),
 ('ID_L1OMXXIV', 'Needle'),
 ('ID_QPA4T2QH', 'Milky Way'),
 ('ID_VP9Q1486', 'Fireworks'),
 ('ID_PK7PTLYZ', 'Backward'),
 ('ID_EU409IWG', 'Comet'),
 ('ID_XWL7CYH2', 'Backward'),
 ('ID_1J98M9UL', 'Backward'),
 ('ID_EETOBLMQ', 'Circinus'),
 ('ID_ZD3UQK1K', 'Cartwheel'),
 ('ID_DSZ1VC2A', 'Backward'),
 ('ID_3SIVKWL4', 'Medusa Merger'),
 ('ID_BR430MM1', 'Backward'),
 ('ID_4G117ZRE', 'Cigar'),
 ('ID_XK39LD7P', 'Backward'),
 ('ID_QQYS31OV', 'Cosmos Redshift 7'),
 ('ID_EVSAW1BF', 'Sunflower'),
 ('ID_7ZBSNKA9', 'Backward'),
 ('ID_4M8BH80D', 'Backward'),
 ('ID_QV0XBIAB', 'Cosmos Redshift 7'),
 ('ID_ZMO6O1V6', 'Cosmos Redshift 7'),
 ('ID_EVTW8X2J', 'Cartwheel'),
 ('ID_TEHN7MG2', 'Milky Way'),
 ('ID_DN9ALJT4', 'Cosmos Redshift 7'),
 ('ID_3I1STYJX', 'Fireworks'),
 ('ID_X9050P7D', 'Cosmos Redshift 7'),
 ('ID_PJ53WB0E', 'Comet'),
 ('ID_AB2XN1F5', 'Backward'),
 ('ID_N0UG6G1F', 'Milky Way'),
 ('ID_PYMMJPRC', 'Needle'),
 ('ID_0H4KVTOZ', 'Backward'),
 ('ID_KSKX84HK', 'Malin 1'),
 ('ID_8QTW09GB', 'Andromeda'),
 ('ID_HRER0KI5', 'Backward'),
 ('ID_FKNOHQ2F', 'Cigar'),
 ('ID_9H3FH940', 'Whirlpool'),
 ('ID_TRXZ1689', 'Circinus'),
 ('ID_H6H66KH2', 'Tadpole'),
 ('ID_U8OKJQV2', 'Cigar'),
 ('ID_WRQ0YFYZ', 'Comet'),
 ('ID_AFHJCI8U', 'Comet'),
 ('ID_JZ6N5FRO', 'Fireworks'),
 ('ID_3TIWWKU9', 'Circinus'),
 ('ID_JFIU2R4K', 'Comet'),
 ('ID_56ZZJ9EI', 'Milky Way'),
 ('ID_OBS64UDF', 'Medusa Merger'),
 ('ID_SA37C0V7', 'Comet'),
 ('ID_HTSWMY3T', 'Cosmos Redshift 7'),
 ('ID_NFN5I5XU', 'Cartwheel'),
 ('ID_S2N3NDJS', 'Tadpole'),
 ('ID_05YW7A1R', 'Comet'),
 ('ID_W1EF4MOT', 'Whirlpool'),
 ('ID_OB71L9F1', 'Comet'),
 ('ID_LJF4GEZC', 'Needle'),
 ('ID_7MWJO1RG', 'Needle'),
 ('ID_9FMP4X22', 'Needle'),
 ('ID_8ZJMCSAG', 'Milky Way'),
 ('ID_A84IUATV', 'Comet'),
 ('ID_ANHOSW6K', 'Milky Way'),
 ('ID_MPA7FT70', 'Sunflower'),
 ('ID_7DM8G9SL', 'Cigar'),
 ('ID_06SV1XSM', 'Whirlpool'),
 ('ID_JNE2K1SS', 'Malin 1'),
 ('ID_86GTEWAA', 'Cosmos Redshift 7'),
 ('ID_2DMNO9QP', 'Circinus'),
 ('ID_JA9L72HB', 'Sunflower'),
 ('ID_A0EALXUP', 'Sunflower'),
 ('ID_MNGV4C4L', 'Sunflower'),
 ('ID_5LFD56QF', 'Sunflower'),
 ('ID_KR88Y90B', 'Tadpole'),
 ('ID_YMK5WFEQ', 'Cartwheel'),
 ('ID_BK1X6A61', 'Circinus'),
 ('ID_YSOEYNCU', 'Malin 1'),
 ('ID_QHZJNHVX', 'Whirlpool'),
 ('ID_9UVQHS74', 'Whirlpool'),
 ('ID_UOTGKHS3', 'Tadpole'),
 ('ID_IG3ZU2ZF', 'Whirlpool'),
 ('ID_85W3ZWMS', 'Whirlpool'),
 ('ID_F2M9J1QJ', 'Whirlpool'),
 ('ID_PK1XYY2J', 'Cartwheel'),
 ('ID_LUDJ2HBX', 'Sunflower'),
 ('ID_7Q5V45IR', 'Fireworks'),
 ('ID_3SHIZPTH', 'Cigar'),
 ('ID_IPWDET7J', 'Cigar'),
 ('ID_2WSDLFNM', 'Milky Way'),
 ('ID_5RTFVRBT', 'Cigar'),
 ('ID_YU30VY06', 'Cigar'),
 ('ID_PBON8UC5', 'Cigar'),
 ('ID_4KXP34GC', 'Fireworks'),
 ('ID_B8ZVJSX7', 'Fireworks'),
 ('ID_064HV3UA', 'Needle'),
 ('ID_TFI6B51W', 'Circinus'),
 ('ID_P98LF0O1', 'Fireworks'),
 ('ID_JHECYNWP', 'Medusa Merger'),
 ('ID_GOMKISKS', 'Milky Way'),
 ('ID_AOLHJTW3', 'Tadpole'),
 ('ID_VEHWAM3N', 'Fireworks'),
 ('ID_H5QG5VMD', 'Fireworks'),
 ('ID_JMF7GIUY', 'Cigar'),
 ('ID_KJBPWWIH', 'Cartwheel'),
 ('ID_MJ8THLEX', 'Whirlpool'),
 ('ID_IBRGSBOA', 'Milky Way'),
 ('ID_0OW7LBXH', 'Medusa Merger'),
 ('ID_1YF71544', 'Fireworks'),
 ('ID_YP3N91A2', 'Medusa Merger'),
 ('ID_MWXN4B53', 'Cartwheel'),
 ('ID_RRYKCVJW', 'Cartwheel'),
 ('ID_08N8KYTM', 'Cartwheel'),
 ('ID_CVL86B7P', 'Circinus'),
 ('ID_OBSKQ4V1', 'Tadpole'),
 ('ID_ON6TBDP7', 'Cartwheel'),
 ('ID_9P65QCMQ', 'Malin 1'),
 ('ID_UIJNWDX2', 'Sunflower'),
 ('ID_Q0QMD9X9', 'Milky Way'),
 ('ID_0D97CTM2', 'Cartwheel'),
 ('ID_W5BFF5QC', 'Circinus'),
 ('ID_WDL1IC3Y', 'Needle'),
 ('ID_25GTI42K', 'Comet'),
 ('ID_LVP6C9HW', 'Malin 1'),
 ('ID_XBT7BBZD', 'Comet'),
 ('ID_FEOI64KN', 'Cigar'),
 ('ID_1KCBWUKE', 'Cigar'),
 ('ID_568NZHSC', 'Cigar'),
 ('ID_K06LVF2G', 'Tadpole'),
 ('ID_MP4ONP0P', 'Sunflower'),
 ('ID_ZQOB9ZQL', 'Tadpole'),
 ('ID_GLACPTCA', 'Tadpole'),
 ('ID_1JGSZL4I', 'Whirlpool'),
 ('ID_6NMJFGI6', 'Whirlpool'),
 ('ID_V8L2BWZV', 'Circinus'),
 ('ID_ZUPS2JD2', 'Milky Way'),
 ('ID_O50PFEVT', 'Sunflower'),
 ('ID_JXNNMUJK', 'Sunflower'),
 ('ID_IM6OHCK8', 'Milky Way'),
 ('ID_6DCVCZN8', 'Malin 1'),
 ('ID_RT5HR95R', 'Fireworks'),
 ('ID_7HWNZT53', 'Medusa Merger'),
 ('ID_7SH1NGU4', 'Whirlpool'),
 ('ID_IGWZ8LQR', 'Circinus'),
 ('ID_QR4DQRG1', 'Malin 1'),
 ('ID_133YXY0T', 'Tadpole'),
 ('ID_XVGLDCOL', 'Circinus'),
 ('ID_GI90U9RD', 'Whirlpool'),
 ('ID_BXLQY78T', 'Whirlpool'),
 ('ID_YLIXN9AV', 'Tadpole'),
 ('ID_530FN5PE', 'Circinus'),
 ('ID_FRUGDE4G', 'Needle'),
 ('ID_LTB6HGNO', 'Malin 1'),
 ('ID_KD5JPIY4', 'Backward'),
 ('ID_GVX36W01', 'Tadpole'),
 ('ID_EMIAV5PV', 'Circinus'),
 ('ID_QKQ00O16', 'Needle'),
 ('ID_172V2IXW', 'Needle'),
 ('ID_2ZK5TE39', 'Malin 1'),
 ('ID_IS54QGW9', 'Andromeda'),
 ('ID_YG9IONLS', 'Circinus')]

In [ ]:
away_data=[];
for x,y in temp_data:
    b=test_game_statistics[(test_game_statistics.Game_ID==x) & (test_game_statistics.Team==y)].values
    away_data.append(b)
away_data[0]

array([['ID_8518U587', 'Player_K4YVUM05', 1.0, ..., 0.0, 0.03, 0.37],
       ['ID_8518U587', 'Player_K4YVUM05', 2.0, ..., 1.0, 0.03, 0.37],
       ['ID_8518U587', 'Player_XH7OO4D7', 3.0, ..., 0.0, 0.07, 0.4],
       ...,
       ['ID_8518U587', 'Player_930F2XZY', 3991.0, ..., 0.0, 97.93, 98.27],
       ['ID_8518U587', 'Player_930F2XZY', 3992.0, ..., 0.0, 97.93, 98.27],
       ['ID_8518U587', 'Player_930F2XZY', 3994.0, ..., 0.0, 97.93, 98.27]],
      dtype=object)

In [ ]:
# Convert Lists to DataFrames
# Home Data
b=[pd.DataFrame(home_data[x],columns=test_game_statistics.columns) for x in range(len(home_data))]
home_data1=pd.concat(b)
print(home_data1.shape)
# Away data
b=[pd.DataFrame(away_data[x],columns=test_game_statistics.columns) for x in range(len(away_data))]
away_data1=pd.concat(b)
print(away_data1.shape)

(393260, 17)
(386974, 17)

In [ ]:
game_home=home_data1.groupby(['Game_ID','Player_ID']).sum().groupby(['Game_ID']).sum()
game_home

,id,X,Y,Season,Shots,SoT,Accurate passes,Inaccurate passes,Passes,Start_minutes,End_minutes
Game_ID,,,,,,,,,,,
ID_03VRW8WV,3374113.0,94888.3,56636.9,5379,9.0,3.0,371.0,88.0,459.0,86846.45,87445.78
ID_05YW7A1R,3065867.0,84070.8,59595.1,5139,8.0,2.0,331.0,78.0,409.0,75976.57,76548.28
ID_064HV3UA,2987645.0,89237.7,54987.7,5274,10.0,4.0,352.0,72.0,424.0,78398.11,78984.92
ID_06SV1XSM,3887186.0,120749.5,71447.9,6444,8.0,2.0,513.0,77.0,590.0,106251.53,106968.05
ID_08N8KYTM,2426430.0,62844.7,40082.5,3993,9.0,2.0,213.0,57.0,270.0,60371.62,60816.51
...,...,...,...,...,...,...,...,...,...,...,...
ID_ZMO6O1V6,2679959.0,95435.4,66217.4,5073,11.0,5.0,336.0,93.0,429.0,77868.00,78432.53
ID_ZQOB9ZQL,3383625.0,102157.8,63276.6,5496,14.0,4.0,333.0,85.0,418.0,91984.09,92595.19
ID_ZRZC49M1,2813257.0,93169.2,53257.1,5256,9.0,3.0,402.0,81.0,483.0,80205.37,80789.13
ID_ZTDZNU6I,2741302.0,93019.7,56021.5,5127,7.0,1.0,344.0,76.0,420.0,73162.99,73732.53
ID_ZUPS2JD2,5019082.0,127236.2,77916.5,7182,14.0,4.0,511.0,88.0,599.0,137641.43,138440.74

In [ ]:
game_home.drop(['id','X','Y','Season'], axis=1, inplace=True)

In [ ]:
game_home['Shot_Pct']=((game_home['SoT']+1)/(game_home['Shots']+1))
game_home['Pass_Pct']=((game_home['Accurate passes']+1)/(game_home['Passes']+1))

In [ ]:
game_away=away_data1.groupby(['Game_ID','Player_ID']).sum().groupby(['Game_ID']).sum()
game_away

,id,X,Y,Season,Shots,SoT,Accurate passes,Inaccurate passes,Passes,Start_minutes,End_minutes
Game_ID,,,,,,,,,,,
ID_03VRW8WV,3341930.0,87805.4,68249.3,5610,5.0,3.0,385.0,88.0,473.0,85621.35,86246.14
ID_05YW7A1R,3775384.0,109572.1,69656.6,5952,6.0,1.0,412.0,93.0,505.0,93700.59,94362.22
ID_064HV3UA,3225101.0,92542.5,63448.8,5295,11.0,4.0,365.0,59.0,424.0,84823.32,85412.11
ID_06SV1XSM,2481613.0,72230.9,48140.1,4257,4.0,0.0,256.0,76.0,332.0,67796.81,68270.97
ID_08N8KYTM,4992429.0,153640.8,86799.0,7557,19.0,7.0,611.0,80.0,691.0,124845.82,125685.81
...,...,...,...,...,...,...,...,...,...,...,...
ID_ZMO6O1V6,2712360.0,77413.9,53983.3,4773,4.0,0.0,338.0,80.0,418.0,78746.03,79278.11
ID_ZQOB9ZQL,2839748.0,85631.2,53784.7,5082,9.0,3.0,282.0,74.0,356.0,77169.90,77735.71
ID_ZRZC49M1,2438544.0,75803.5,50774.6,4461,8.0,0.0,313.0,64.0,377.0,69984.17,70479.33
ID_ZTDZNU6I,2497581.0,77304.8,52335.6,4578,3.0,0.0,296.0,69.0,365.0,66837.40,67345.37
ID_ZUPS2JD2,2477322.0,79993.0,51851.7,4428,9.0,3.0,189.0,99.0,288.0,68245.67,68738.83

In [ ]:
game_away.drop(['id','X','Y','Season'], axis=1, inplace=True)

In [ ]:
game_away['Shot_Pct']=((game_away['SoT']+1)/(game_away['Shots']+1))
game_away['Pass_Pct']=((game_away['Accurate passes']+1)/(game_away['Passes']+1))

In [ ]:
game_away.head()

,Shots,SoT,Accurate passes,Inaccurate passes,Passes,Start_minutes,End_minutes,Shot_Pct,Pass_Pct
Game_ID,,,,,,,,,
ID_03VRW8WV,5.0,3.0,385.0,88.0,473.0,85621.35,86246.14,0.666667,0.814346
ID_05YW7A1R,6.0,1.0,412.0,93.0,505.0,93700.59,94362.22,0.285714,0.816206
ID_064HV3UA,11.0,4.0,365.0,59.0,424.0,84823.32,85412.11,0.416667,0.861176
ID_06SV1XSM,4.0,0.0,256.0,76.0,332.0,67796.81,68270.97,0.200000,0.771772
ID_08N8KYTM,19.0,7.0,611.0,80.0,691.0,124845.82,125685.81,0.400000,0.884393

In [ ]:
game_test_combined=game_home

In [ ]:
game_test_combined['Shots_ratio']=(game_home['Shots']+1)/(game_away['Shots']+1)
game_test_combined['SoT_ratio']=(game_home['SoT']+1)/(game_away['SoT']+1)
game_test_combined['acc_pass_ratio']=(game_home['Accurate passes']+1)/(game_away['Accurate passes']+1)
game_test_combined['inacc_pass_ratio']=(game_home['Inaccurate passes']+1)/(game_away['Inaccurate passes']+1)
game_test_combined['pass_ratio']=(game_home['Passes']+1)/(game_away['Passes']+1)
game_test_combined['Shotpct_ratio']=(game_home['Shot_Pct'])/(game_away['Shot_Pct'])
game_test_combined['passpct_ratio']=(game_home['Pass_Pct'])/(game_away['Pass_Pct'])

In [ ]:
game_test_combined.head()

,Shots,SoT,Accurate passes,Inaccurate passes,Passes,Start_minutes,End_minutes,Shot_Pct,Pass_Pct,Shots_ratio,SoT_ratio,acc_pass_ratio,inacc_pass_ratio,pass_ratio,Shotpct_ratio,passpct_ratio
Game_ID,,,,,,,,,,,,,,,,
ID_03VRW8WV,9.0,3.0,371.0,88.0,459.0,86846.45,87445.78,0.400000,0.808696,1.666667,1.000,0.963731,1.000000,0.970464,0.600000,0.993062
ID_05YW7A1R,8.0,2.0,331.0,78.0,409.0,75976.57,76548.28,0.333333,0.809756,1.285714,1.500,0.803874,0.840426,0.810277,1.166667,0.992098
ID_064HV3UA,10.0,4.0,352.0,72.0,424.0,78398.11,78984.92,0.454545,0.830588,0.916667,1.000,0.964481,1.216667,1.000000,1.090909,0.964481
ID_06SV1XSM,8.0,2.0,513.0,77.0,590.0,106251.53,106968.05,0.333333,0.869712,1.800000,3.000,2.000000,1.012987,1.774775,1.666667,1.126904
ID_08N8KYTM,9.0,2.0,213.0,57.0,270.0,60371.62,60816.51,0.300000,0.789668,0.500000,0.375,0.349673,0.716049,0.391618,0.750000,0.892892

In [ ]:
goals1

,Home Team,Goals_scored,Goals_conceded,Goal_diff,Goals_ratio_home
0,Andromeda,47.0,48.0,-1.0,0.979167
1,Antennae,53.0,50.0,3.0,1.060000
2,Backward,41.0,51.0,-10.0,0.803922
3,Butterfly,28.0,21.0,7.0,1.333333
4,Cartwheel,72.0,72.0,0.0,1.000000
5,Cigar,78.0,58.0,20.0,1.344828
6,Circinus,32.0,56.0,-24.0,0.571429
7,Coma Pinwheel,42.0,73.0,-31.0,0.575342
8,Comet,55.0,59.0,-4.0,0.932203
9,Cosmos Redshift 7,66.0,46.0,20.0,1.434783
10,Eye of Sauron,21.0,39.0,-18.0,0.538462
11,Fireworks,48.0,64.0,-16.0,0.750000
12,Medusa Merger,90.0,35.0,55.0,2.571429
13,Milky Way,74.0,50.0,24.0,1.480000
14,Sculptor,56.0,62.0,-6.0,0.903226
15,Sombrero,25.0,30.0,-5.0,0.833333
16,Sunflower,25.0,31.0,-6.0,0.806452
17,Tadpole,23.0,18.0,5.0,1.277778
18,Triangulum,15.0,28.0,-13.0,0.535714

In [ ]:
goals1.drop([14,3,10,7,15,18], axis=0, inplace=True)
goals2.drop([14,3,10,7,15,18], axis=0, inplace=True)

In [ ]:
goals1.head()

   Home Team  Goals_scored  Goals_conceded  Goal_diff  Goals_ratio_home
0  Andromeda          47.0            48.0       -1.0          0.979167
1   Antennae          53.0            50.0        3.0          1.060000
2   Backward          41.0            51.0      -10.0          0.803922
4  Cartwheel          72.0            72.0        0.0          1.000000
5      Cigar          78.0            58.0       20.0          1.344828

In [ ]:
goals2.head()

   Away Team  Goals_ratio_away
0  Andromeda          0.979167
1   Antennae          1.060000
2   Backward          0.803922
4  Cartwheel          1.000000
5      Cigar          1.344828

In [ ]:
data={'Home Team':['Malin 1','Needle','Whirlpool'], 'Goals_ratio_home':[1,1,1]}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
goals1=pd.concat([goals1,df],axis=0)

In [ ]:
goals1

,Home Team,Goals_scored,Goals_conceded,Goal_diff,Goals_ratio_home
0,Andromeda,47.0,48.0,-1.0,0.979167
1,Antennae,53.0,50.0,3.0,1.060000
2,Backward,41.0,51.0,-10.0,0.803922
4,Cartwheel,72.0,72.0,0.0,1.000000
5,Cigar,78.0,58.0,20.0,1.344828
6,Circinus,32.0,56.0,-24.0,0.571429
8,Comet,55.0,59.0,-4.0,0.932203
9,Cosmos Redshift 7,66.0,46.0,20.0,1.434783
11,Fireworks,48.0,64.0,-16.0,0.750000
12,Medusa Merger,90.0,35.0,55.0,2.571429
13,Milky Way,74.0,50.0,24.0,1.480000
16,Sunflower,25.0,31.0,-6.0,0.806452
17,Tadpole,23.0,18.0,5.0,1.277778
0,Malin 1,NaN,NaN,NaN,1.000000
1,Needle,NaN,NaN,NaN,1.000000
2,Whirlpool,NaN,NaN,NaN,1.000000

In [ ]:
data1={'Away Team':['Malin 1','Needle','Whirlpool'], 'Goals_ratio_away':[1,1,1]}

In [ ]:
df1=pd.DataFrame(data1)

In [ ]:
goals2=pd.concat([goals2,df1],axis=0)

In [ ]:
goals1.shape, goals2.shape

((16, 5), (16, 2))

In [ ]:
goals1.head()

   Home Team  Goals_scored  Goals_conceded  Goal_diff  Goals_ratio_home
0  Andromeda          47.0            48.0       -1.0          0.979167
1   Antennae          53.0            50.0        3.0          1.060000
2   Backward          41.0            51.0      -10.0          0.803922
4  Cartwheel          72.0            72.0        0.0          1.000000
5      Cigar          78.0            58.0       20.0          1.344828

In [ ]:
goals1.drop(['Goals_scored','Goals_conceded','Goal_diff'], axis=1, inplace=True)

In [ ]:
goals2

            Away Team  Goals_ratio_away
0           Andromeda          0.979167
1            Antennae          1.060000
2            Backward          0.803922
4           Cartwheel          1.000000
5               Cigar          1.344828
6            Circinus          0.571429
8               Comet          0.932203
9   Cosmos Redshift 7          1.434783
11          Fireworks          0.750000
12      Medusa Merger          2.571429
13          Milky Way          1.480000
16          Sunflower          0.806452
17            Tadpole          1.277778
0             Malin 1          1.000000
1              Needle          1.000000
2           Whirlpool          1.000000

In [ ]:
goals1=goals1.reset_index()
goals2=goals2.reset_index()

In [ ]:
goals1.head()

   index  Home Team  Goals_ratio_home
0      0  Andromeda          0.979167
1      1   Antennae          1.060000
2      2   Backward          0.803922
3      4  Cartwheel          1.000000
4      5      Cigar          1.344828

In [ ]:
goals1.drop(['index'], axis=1, inplace=True)
goals2.drop(['index'], axis=1, inplace=True)

            Away Team  Goals_ratio_away
0           Andromeda          0.979167
1            Antennae          1.060000
2            Backward          0.803922
4           Cartwheel          1.000000
5               Cigar          1.344828
6            Circinus          0.571429
8               Comet          0.932203
9   Cosmos Redshift 7          1.434783
11          Fireworks          0.750000
12      Medusa Merger          2.571429
13          Milky Way          1.480000
16          Sunflower          0.806452
17            Tadpole          1.277778
0             Malin 1               NaN
1              Needle               NaN
2           Whirlpool               NaN

In [ ]:
test_data=pd.merge(test,game_test_combined,left_on='Game_ID',right_index=True,how='inner')

In [ ]:
test_data.head()

,Date,Season,Match_ID,Game_ID,Home Team,Away Team,Shots,SoT,Accurate passes,Inaccurate passes,...,End_minutes,Shot_Pct,Pass_Pct,Shots_ratio,SoT_ratio,acc_pass_ratio,inacc_pass_ratio,pass_ratio,Shotpct_ratio,passpct_ratio
0,2018-12-08,3,102.0,ID_8518U587,Antennae,Cosmos Redshift 7,11.0,1.0,312.0,92.0,...,89380.91,0.166667,0.772840,0.750000,0.333333,0.772840,1.148148,0.835052,0.444444,0.925499
1,2018-09-11,3,18.0,ID_H49BIKG7,Cosmos Redshift 7,Tadpole,6.0,2.0,335.0,72.0,...,83897.43,0.428571,0.823529,0.777778,1.000000,1.191489,0.858824,1.114754,1.285714,1.068836
2,2018-09-25,3,32.0,ID_PO6SP4VA,Cosmos Redshift 7,Medusa Merger,7.0,3.0,259.0,73.0,...,75349.18,0.500000,0.780781,0.666667,1.333333,0.626506,1.193548,0.699580,2.000000,0.895546
3,2018-10-02,3,40.0,ID_MZRCNBAQ,Cartwheel,Cosmos Redshift 7,9.0,0.0,447.0,76.0,...,102206.65,0.100000,0.854962,1.111111,0.200000,1.302326,0.974684,1.241706,0.180000,1.048819
4,2018-12-20,3,123.0,ID_CV9VOLIU,Cosmos Redshift 7,Needle,6.0,1.0,327.0,77.0,...,80725.08,0.285714,0.809877,0.700000,0.666667,0.657315,0.876404,0.689949,0.952381,0.952700

In [ ]:
test_data=pd.merge(test_data,goals1, how='inner', left_on='Home Team', right_on='Home Team')

In [ ]:
test_data=pd.merge(test_data,goals2, how='inner', left_on='Away Team', right_on='Away Team')

In [ ]:
test_data.isnull().sum()

Date                 0
Season               0
Match_ID             0
Game_ID              0
Home Team            0
Away Team            0
Shots                0
SoT                  0
Accurate passes      0
Inaccurate passes    0
Passes               0
Start_minutes        0
End_minutes          0
Shot_Pct             0
Pass_Pct             0
Shots_ratio          0
SoT_ratio            0
acc_pass_ratio       0
inacc_pass_ratio     0
pass_ratio           0
Shotpct_ratio        0
passpct_ratio        0
Goals_ratio_home     0
Goals_ratio_away     0
dtype: int64

In [ ]:
test_data.shape

(234, 24)

In [ ]:
train_data.columns

Index(['Score', 'Shots', 'SoT', 'Accurate passes', 'Inaccurate passes',
       'Passes', 'Start_minutes', 'End_minutes', 'Shot_Pct', 'Pass_Pct',
       'Shots_ratio', 'SoT_ratio', 'acc_pass_ratio', 'inacc_pass_ratio',
       'pass_ratio', 'Goals_ratio_home', 'Goals_ratio_away', 'Goals_ratio'],
      dtype='object')

In [ ]:
test_data.columns

Index(['Date', 'Season', 'Match_ID', 'Game_ID', 'Home Team', 'Away Team',
       'Shots', 'SoT', 'Accurate passes', 'Inaccurate passes', 'Passes',
       'Start_minutes', 'End_minutes', 'Shot_Pct', 'Pass_Pct', 'Shots_ratio',
       'SoT_ratio', 'acc_pass_ratio', 'inacc_pass_ratio', 'pass_ratio',
       'Shotpct_ratio', 'passpct_ratio', 'Goals_ratio_home',
       'Goals_ratio_away'],
      dtype='object')

In [ ]:
test_data['Goals_ratio']=test_data['Goals_ratio_home']/test_data['Goals_ratio_away']

In [ ]:
test_data.shape

(234, 25)

In [ ]:
test_data.drop(['Date','Season','Match_ID','Home Team','Away Team'], axis=1, inplace=True)

In [ ]:
train_data.shape, test_data.shape

((412, 21), (234, 20))

In [ ]:
train_data.columns

Index(['Score', 'Shots', 'SoT', 'Accurate passes', 'Inaccurate passes',
       'Passes', 'Start_minutes', 'End_minutes', 'Shot_Pct', 'Pass_Pct',
       'Shots_ratio', 'SoT_ratio', 'acc_pass_ratio', 'inacc_pass_ratio',
       'pass_ratio', 'Goals_scored', 'Goals_conceded', 'Goal_diff',
       'Goals_ratio_home', 'Goals_ratio_away', 'Goals_ratio'],
      dtype='object')

In [ ]:
test_data.columns

Index(['Game_ID', 'Shots', 'SoT', 'Accurate passes', 'Inaccurate passes',
       'Passes', 'Start_minutes', 'End_minutes', 'Shot_Pct', 'Pass_Pct',
       'Shots_ratio', 'SoT_ratio', 'acc_pass_ratio', 'inacc_pass_ratio',
       'pass_ratio', 'Shotpct_ratio', 'passpct_ratio', 'Goals_ratio_home',
       'Goals_ratio_away', 'Goals_ratio'],
      dtype='object')

In [ ]:
test_data.drop(['Game_ID','Shotpct_ratio','passpct_ratio'], axis=1, inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
y_train=label_encoder.fit_transform(train_data.Score)
y_train

array([0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 2, 1, 1, 2, 1, 2, 1, 0, 0, 2, 2, 1, 1, 2, 0, 1, 0, 0, 0, 2, 2,
       0, 2, 2, 1, 0, 1, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 0, 1, 2, 1, 0,
       2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 1, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2, 2,
       1, 1, 2, 2, 2, 0, 1, 2, 2, 0, 0, 1, 1, 0, 0, 2, 1, 0, 2, 2, 1, 2,
       0, 2, 0, 1, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 0, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 2, 1, 2, 0, 2, 2, 1, 1, 1, 2, 1, 2, 0, 2, 2, 2, 1, 0, 1,
       0, 0, 2, 1, 1, 2, 0, 2, 0, 1, 2, 1, 1, 0, 2, 0, 0, 0, 0, 1, 1, 0,
       2, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 2, 2, 2, 0, 2, 1,
       2, 1, 0, 0, 2, 2, 2, 2, 0, 1, 1, 2, 0, 0, 2, 1, 1, 0, 0, 0, 0, 0,
       2, 1, 1, 1, 1, 0, 1, 2, 0, 2, 1, 2, 1, 0, 1, 2, 1, 2, 0, 1, 2, 1,
       2, 2, 1, 1, 2, 2, 2, 0, 1, 1, 1, 0, 2, 0, 0, 0, 1, 2, 0, 0, 2, 1,
       1, 1, 2, 0, 0, 0, 0, 2, 0, 2, 1, 0, 1, 0, 0, 2, 1, 0, 2, 1, 1, 2,
       2, 1, 2, 0, 1, 2, 2, 0, 0, 2, 1, 1, 2, 1, 2, 1, 0, 0, 0, 2, 0, 0,
       0, 2, 1, 2, 2, 2, 1, 1, 2, 2, 2, 0, 1, 2, 2, 1, 2, 2, 1, 0, 1, 0,
       1, 2, 2, 2, 2, 2, 2, 0, 1, 2, 1, 1, 1, 0, 1, 0, 1, 2, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 0, 2, 2, 2, 2, 0, 1, 1, 2, 0, 1, 2, 1, 1, 1, 1, 0,
       2, 1, 0, 0, 1, 0, 0, 2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 0, 0, 0, 2, 0,
       1, 0, 2, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 0, 1, 1])

In [ ]:
label_encoder.classes_

array(['Away win', 'Draw', 'Home Win'], dtype=object)

In [ ]:
# One Hot Encode Labels
from sklearn.preprocessing import OneHotEncoder
one_hot=OneHotEncoder()
y=one_hot.fit_transform(y_train.reshape(-1,1)).toarray()
y

array([[1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [ ]:
train_data.drop(['Score'], axis=1, inplace=True)

In [ ]:
train_data.shape, test_data.shape

((412, 20), (234, 17))

In [ ]:
train_data.drop(['Goals_scored','Goals_conceded','Goal_diff'], axis=1, inplace=True)

In [ ]:
test_data.columns

Index(['Shots', 'SoT', 'Accurate passes', 'Inaccurate passes', 'Passes',
       'Start_minutes', 'End_minutes', 'Shot_Pct', 'Pass_Pct', 'Shots_ratio',
       'SoT_ratio', 'acc_pass_ratio', 'inacc_pass_ratio', 'pass_ratio',
       'Goals_ratio_home', 'Goals_ratio_away', 'Goals_ratio'],
      dtype='object')

In [ ]:
train_data.shape, test_data.shape

((412, 17), (234, 17))

In [ ]:
from sklearn.preprocessing import StandardScaler,PowerTransformer,MinMaxScaler,OneHotEncoder,LabelEncoder
min_max=MinMaxScaler()
min_max.fit(train_data)
train=min_max.transform(train_data)
test=min_max.transform(test_data)
train.shape

(412, 17)

In [ ]:
from keras import layers
from tensorflow.keras import models
model = models.Sequential()
model.add(layers.Dense(64, activation='relu', input_dim=17))
#model.add(layers.Dense(64, activation='relu'))
#model.add(layers.Dropout(0.5))
model.add(layers.Dense(32, activation='relu'))
#model.add(layers.Dense(16, activation='relu'))
#model.add(layers.Dropout(0.5))
model.add(layers.Dense(3, activation='softmax'))

In [ ]:

model.compile(optimizer='adam',
loss='categorical_crossentropy',
metrics='categorical_crossentropy')

In [ ]:
train

array([[0.25      , 0.2       , 0.20141343, ..., 0.25754386, 0.21783626,
        0.19039271],
       [0.        , 0.        , 0.39575972, ..., 0.25754386, 0.21783626,
        0.19039271],
       [0.375     , 0.3       , 0.44169611, ..., 0.39181287, 0.21783626,
        0.2511874 ],
       ...,
       [0.25      , 0.3       , 0.24734982, ..., 0.13175095, 0.14619883,
        0.16472723],
       [0.0625    , 0.        , 0.38869258, ..., 0.01754386, 0.14619883,
        0.10396681],
       [0.34375   , 0.3       , 0.34982332, ..., 0.01946647, 0.14619883,
        0.10498968]])

In [ ]:
history = model.fit(train,
y,
epochs=50,
batch_size=52,
verbose=2,
validation_split=0.2)

Epoch 1/50
7/7 - 3s - loss: 1.1687 - categorical_crossentropy: 1.1687 - val_loss: 1.1184 - val_categorical_crossentropy: 1.1184 - 3s/epoch - 375ms/step
Epoch 2/50
7/7 - 0s - loss: 1.1087 - categorical_crossentropy: 1.1087 - val_loss: 1.1054 - val_categorical_crossentropy: 1.1054 - 39ms/epoch - 6ms/step
Epoch 3/50
7/7 - 0s - loss: 1.0867 - categorical_crossentropy: 1.0867 - val_loss: 1.1037 - val_categorical_crossentropy: 1.1037 - 34ms/epoch - 5ms/step
Epoch 4/50
7/7 - 0s - loss: 1.0742 - categorical_crossentropy: 1.0742 - val_loss: 1.1053 - val_categorical_crossentropy: 1.1053 - 42ms/epoch - 6ms/step
Epoch 5/50
7/7 - 0s - loss: 1.0641 - categorical_crossentropy: 1.0641 - val_loss: 1.0946 - val_categorical_crossentropy: 1.0946 - 36ms/epoch - 5ms/step
Epoch 6/50
7/7 - 0s - loss: 1.0535 - categorical_crossentropy: 1.0535 - val_loss: 1.0821 - val_categorical_crossentropy: 1.0821 - 35ms/epoch - 5ms/step
Epoch 7/50
7/7 - 0s - loss: 1.0415 - categorical_crossentropy: 1.0415 - val_loss: 1.0791 - val_categorical_crossentropy: 1.0791 - 34ms/epoch - 5ms/step
Epoch 8/50
7/7 - 0s - loss: 1.0283 - categorical_crossentropy: 1.0283 - val_loss: 1.0768 - val_categorical_crossentropy: 1.0768 - 35ms/epoch - 5ms/step
Epoch 9/50
7/7 - 0s - loss: 1.0155 - categorical_crossentropy: 1.0155 - val_loss: 1.0649 - val_categorical_crossentropy: 1.0649 - 35ms/epoch - 5ms/step
Epoch 10/50
7/7 - 0s - loss: 1.0043 - categorical_crossentropy: 1.0043 - val_loss: 1.0510 - val_categorical_crossentropy: 1.0510 - 36ms/epoch - 5ms/step
Epoch 11/50
7/7 - 0s - loss: 0.9904 - categorical_crossentropy: 0.9904 - val_loss: 1.0425 - val_categorical_crossentropy: 1.0425 - 34ms/epoch - 5ms/step
Epoch 12/50
7/7 - 0s - loss: 0.9760 - categorical_crossentropy: 0.9760 - val_loss: 1.0304 - val_categorical_crossentropy: 1.0304 - 34ms/epoch - 5ms/step
Epoch 13/50
7/7 - 0s - loss: 0.9602 - categorical_crossentropy: 0.9602 - val_loss: 1.0175 - val_categorical_crossentropy: 1.0175 - 36ms/epoch - 5ms/step
Epoch 14/50
7/7 - 0s - loss: 0.9451 - categorical_crossentropy: 0.9451 - val_loss: 1.0300 - val_categorical_crossentropy: 1.0300 - 38ms/epoch - 5ms/step
Epoch 15/50
7/7 - 0s - loss: 0.9366 - categorical_crossentropy: 0.9366 - val_loss: 1.0293 - val_categorical_crossentropy: 1.0293 - 33ms/epoch - 5ms/step
Epoch 16/50
7/7 - 0s - loss: 0.9256 - categorical_crossentropy: 0.9256 - val_loss: 1.0201 - val_categorical_crossentropy: 1.0201 - 35ms/epoch - 5ms/step
Epoch 17/50
7/7 - 0s - loss: 0.9244 - categorical_crossentropy: 0.9244 - val_loss: 1.0018 - val_categorical_crossentropy: 1.0018 - 35ms/epoch - 5ms/step
Epoch 18/50
7/7 - 0s - loss: 0.9090 - categorical_crossentropy: 0.9090 - val_loss: 0.9961 - val_categorical_crossentropy: 0.9961 - 35ms/epoch - 5ms/step
Epoch 19/50
7/7 - 0s - loss: 0.9074 - categorical_crossentropy: 0.9074 - val_loss: 0.9998 - val_categorical_crossentropy: 0.9998 - 34ms/epoch - 5ms/step
Epoch 20/50
7/7 - 0s - loss: 0.8964 - categorical_crossentropy: 0.8964 - val_loss: 0.9899 - val_categorical_crossentropy: 0.9899 - 35ms/epoch - 5ms/step
Epoch 21/50
7/7 - 0s - loss: 0.8934 - categorical_crossentropy: 0.8934 - val_loss: 0.9918 - val_categorical_crossentropy: 0.9918 - 35ms/epoch - 5ms/step
Epoch 22/50
7/7 - 0s - loss: 0.8872 - categorical_crossentropy: 0.8872 - val_loss: 1.0030 - val_categorical_crossentropy: 1.0030 - 35ms/epoch - 5ms/step
Epoch 23/50
7/7 - 0s - loss: 0.8833 - categorical_crossentropy: 0.8833 - val_loss: 0.9997 - val_categorical_crossentropy: 0.9997 - 35ms/epoch - 5ms/step
Epoch 24/50
7/7 - 0s - loss: 0.8796 - categorical_crossentropy: 0.8796 - val_loss: 0.9947 - val_categorical_crossentropy: 0.9947 - 37ms/epoch - 5ms/step
Epoch 25/50
7/7 - 0s - loss: 0.8790 - categorical_crossentropy: 0.8790 - val_loss: 0.9911 - val_categorical_crossentropy: 0.9911 - 34ms/epoch - 5ms/step
Epoch 26/50
7/7 - 0s - loss: 0.8720 - categorical_crossentropy: 0.8720 - val_loss: 0.9844 - val_categorical_crossentropy: 0.9844 - 35ms/epoch - 5ms/step
Epoch 27/50
7/7 - 0s - loss: 0.8752 - categorical_crossentropy: 0.8752 - val_loss: 0.9901 - val_categorical_crossentropy: 0.9901 - 34ms/epoch - 5ms/step
Epoch 28/50
7/7 - 0s - loss: 0.8649 - categorical_crossentropy: 0.8649 - val_loss: 0.9908 - val_categorical_crossentropy: 0.9908 - 41ms/epoch - 6ms/step
Epoch 29/50
7/7 - 0s - loss: 0.8680 - categorical_crossentropy: 0.8680 - val_loss: 0.9863 - val_categorical_crossentropy: 0.9863 - 36ms/epoch - 5ms/step
Epoch 30/50
7/7 - 0s - loss: 0.8609 - categorical_crossentropy: 0.8609 - val_loss: 0.9888 - val_categorical_crossentropy: 0.9888 - 41ms/epoch - 6ms/step
Epoch 31/50
7/7 - 0s - loss: 0.8553 - categorical_crossentropy: 0.8553 - val_loss: 0.9805 - val_categorical_crossentropy: 0.9805 - 34ms/epoch - 5ms/step
Epoch 32/50
7/7 - 0s - loss: 0.8546 - categorical_crossentropy: 0.8546 - val_loss: 0.9864 - val_categorical_crossentropy: 0.9864 - 35ms/epoch - 5ms/step
Epoch 33/50
7/7 - 0s - loss: 0.8510 - categorical_crossentropy: 0.8510 - val_loss: 0.9801 - val_categorical_crossentropy: 0.9801 - 34ms/epoch - 5ms/step
Epoch 34/50
7/7 - 0s - loss: 0.8506 - categorical_crossentropy: 0.8506 - val_loss: 0.9718 - val_categorical_crossentropy: 0.9718 - 35ms/epoch - 5ms/step
Epoch 35/50
7/7 - 0s - loss: 0.8473 - categorical_crossentropy: 0.8473 - val_loss: 0.9838 - val_categorical_crossentropy: 0.9838 - 37ms/epoch - 5ms/step
Epoch 36/50
7/7 - 0s - loss: 0.8457 - categorical_crossentropy: 0.8457 - val_loss: 0.9750 - val_categorical_crossentropy: 0.9750 - 34ms/epoch - 5ms/step
Epoch 37/50
7/7 - 0s - loss: 0.8416 - categorical_crossentropy: 0.8416 - val_loss: 0.9741 - val_categorical_crossentropy: 0.9741 - 35ms/epoch - 5ms/step
Epoch 38/50
7/7 - 0s - loss: 0.8436 - categorical_crossentropy: 0.8436 - val_loss: 0.9782 - val_categorical_crossentropy: 0.9782 - 35ms/epoch - 5ms/step
Epoch 39/50
7/7 - 0s - loss: 0.8381 - categorical_crossentropy: 0.8381 - val_loss: 0.9727 - val_categorical_crossentropy: 0.9727 - 34ms/epoch - 5ms/step
Epoch 40/50
7/7 - 0s - loss: 0.8360 - categorical_crossentropy: 0.8360 - val_loss: 0.9804 - val_categorical_crossentropy: 0.9804 - 52ms/epoch - 7ms/step
Epoch 41/50
7/7 - 0s - loss: 0.8348 - categorical_crossentropy: 0.8348 - val_loss: 0.9784 - val_categorical_crossentropy: 0.9784 - 35ms/epoch - 5ms/step
Epoch 42/50
7/7 - 0s - loss: 0.8402 - categorical_crossentropy: 0.8402 - val_loss: 0.9708 - val_categorical_crossentropy: 0.9708 - 34ms/epoch - 5ms/step
Epoch 43/50
7/7 - 0s - loss: 0.8441 - categorical_crossentropy: 0.8441 - val_loss: 0.9699 - val_categorical_crossentropy: 0.9699 - 52ms/epoch - 7ms/step
Epoch 44/50
7/7 - 0s - loss: 0.8304 - categorical_crossentropy: 0.8304 - val_loss: 0.9978 - val_categorical_crossentropy: 0.9978 - 35ms/epoch - 5ms/step
Epoch 45/50
7/7 - 0s - loss: 0.8340 - categorical_crossentropy: 0.8340 - val_loss: 0.9802 - val_categorical_crossentropy: 0.9802 - 34ms/epoch - 5ms/step
Epoch 46/50
7/7 - 0s - loss: 0.8250 - categorical_crossentropy: 0.8250 - val_loss: 0.9586 - val_categorical_crossentropy: 0.9586 - 37ms/epoch - 5ms/step
Epoch 47/50
7/7 - 0s - loss: 0.8262 - categorical_crossentropy: 0.8262 - val_loss: 0.9610 - val_categorical_crossentropy: 0.9610 - 34ms/epoch - 5ms/step
Epoch 48/50
7/7 - 0s - loss: 0.8209 - categorical_crossentropy: 0.8209 - val_loss: 0.9603 - val_categorical_crossentropy: 0.9603 - 35ms/epoch - 5ms/step
Epoch 49/50
7/7 - 0s - loss: 0.8172 - categorical_crossentropy: 0.8172 - val_loss: 0.9555 - val_categorical_crossentropy: 0.9555 - 34ms/epoch - 5ms/step
Epoch 50/50
7/7 - 0s - loss: 0.8164 - categorical_crossentropy: 0.8164 - val_loss: 0.9592 - val_categorical_crossentropy: 0.9592 - 35ms/epoch - 5ms/step

In [ ]:
test1=pd.read_csv('/content/gdrive/MyDrive/Laduma/Test_Laduma.csv',na_values='NULL')

In [ ]:

sub_data['Game_ID']=test1.Game_ID
sub_data[sub_data.columns[1:]]=model.predict(test)
sub_data

         Game_ID  Away win      Draw  Home Win
0    ID_8518U587  0.282581  0.431157  0.286262
1    ID_H49BIKG7  0.378502  0.353600  0.267898
2    ID_PO6SP4VA  0.077838  0.397704  0.524458
3    ID_MZRCNBAQ  0.199930  0.388874  0.411196
4    ID_CV9VOLIU  0.084595  0.322606  0.592799
..           ...       ...       ...       ...
229  ID_QKQ00O16  0.583843  0.245853  0.170304
230  ID_172V2IXW  0.053579  0.293121  0.653299
231  ID_2ZK5TE39  0.312580  0.441964  0.245456
232  ID_IS54QGW9  0.219447  0.383617  0.396936
233  ID_YG9IONLS  0.349218  0.300563  0.350218

[234 rows x 4 columns]

In [ ]:
sub_data.to_csv('/content/gdrive/MyDrive/Laduma/DL.csv',index=False)